b'shlwapi.dll' b'PathFileExistsW'
b'shlwapi.dll' b'PathFileExistsA'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'SizeofResource'
b'kernel32.dll' b'GetConsoleWindow'
b'kernel32.dll' b'GetVersionExW'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetSystemDirectoryW'
b'kernel32.dll' b'CreateEventW'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'GetModuleHandleA'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'CreateThread'
b'kernel32.dll' b'CreateProcessA'
b'kernel32.dll' b'GetExitCodeProcess'
b'kernel32.dll' b'WriteConsoleW'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'SetEvent'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'CreateDirectoryW'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'LoadResource'
b'kernel32.dll' b'FindResourceW'
b'kernel32.dll' b'GetNativeSystemInfo'
b'kernel32.dll' b'GetCommandLineW'
b'kernel32.dll' b'GetFileAttributesExW'
b'kernel32.dll' b'SetEnvironmentVariableA'
b'kernel32.dll' b'LockResource'
b'kernel32.dll' b'GetModuleHandleExW'
b'kernel32.dll' b'SetStdHandle'
b'kernel32.dll' b'ReadConsoleW'
b'kernel32.dll' b'LoadLibraryW'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'EncodePointer'
b'kernel32.dll' b'DecodePointer'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'SetEndOfFile'
b'kernel32.dll' b'AreFileApisANSI'
b'kernel32.dll' b'GetCommandLineA'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'IsProcessorFeaturePresent'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsFree'
b'kernel32.dll' b'GetStartupInfoW'
b'kernel32.dll' b'CompareStringW'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'GetLocaleInfoW'
b'kernel32.dll' b'IsValidLocale'
b'kernel32.dll' b'GetUserDefaultLCID'
b'kernel32.dll' b'EnumSystemLocalesW'
b'kernel32.dll' b'IsDebuggerPresent'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'SetFilePointerEx'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'GetConsoleCP'
b'kernel32.dll' b'GetConsoleMode'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'LoadLibraryExW'
b'kernel32.dll' b'IsValidCodePage'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'SetFilePointer'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'OutputDebugStringW'
b'user32.dll' b'ExitWindowsEx'
b'user32.dll' b'ShowWindow'
b'advapi32.dll' b'RegisterServiceCtrlHandlerW'
b'advapi32.dll' b'RevertToSelf'
b'advapi32.dll' b'SetServiceStatus'
b'advapi32.dll' b'ImpersonateLoggedOnUser'
b'advapi32.dll' b'ChangeServiceConfig2W'
b'advapi32.dll' b'LookupPrivilegeValueW'
b'advapi32.dll' b'CreateProcessAsUserW'
b'advapi32.dll' b'LogonUserW'
b'advapi32.dll' b'StartServiceCtrlDispatcherW'
b'advapi32.dll' b'OpenSCManagerW'
b'advapi32.dll' b'OpenProcessToken'
b'advapi32.dll' b'CreateServiceW'
b'advapi32.dll' b'AdjustTokenPrivileges'
b'shell32.dll' b'ShellExecuteW'
b'shell32.dll' b'ShellExecuteA'
