kernel32.dll DeleteCriticalSection
kernel32.dll SetHandleCount
kernel32.dll IsValidCodePage
kernel32.dll GetOEMCP
kernel32.dll GetACP
kernel32.dll GetCPInfo
kernel32.dll InterlockedDecrement
kernel32.dll GetCurrentThreadId
kernel32.dll SetLastError
kernel32.dll InterlockedIncrement
kernel32.dll TlsFree
kernel32.dll TlsSetValue
kernel32.dll TlsGetValue
kernel32.dll TlsAlloc
kernel32.dll GetConsoleMode
kernel32.dll GetConsoleCP
kernel32.dll WideCharToMultiByte
kernel32.dll WriteFile
kernel32.dll RtlUnwind
kernel32.dll HeapSetInformation
kernel32.dll ExitProcess
kernel32.dll GetModuleHandleW
kernel32.dll SetUnhandledExceptionFilter
kernel32.dll UnhandledExceptionFilter
kernel32.dll TerminateProcess
kernel32.dll GetStartupInfoW
kernel32.dll GetCommandLineA
kernel32.dll EncodePointer
kernel32.dll IsProcessorFeaturePresent
kernel32.dll RaiseException
kernel32.dll SetFilePointer
kernel32.dll ReadFile
kernel32.dll FlushFileBuffers
kernel32.dll GetModuleFileNameA
kernel32.dll FreeEnvironmentStringsW
kernel32.dll GetEnvironmentStringsW
kernel32.dll QueryPerformanceCounter
kernel32.dll GetTickCount
kernel32.dll GetCurrentProcessId
kernel32.dll GetSystemTimeAsFileTime
kernel32.dll SetStdHandle
kernel32.dll LCMapStringW
kernel32.dll GetStringTypeW
kernel32.dll GetUserDefaultLCID
kernel32.dll GetLocaleInfoA
kernel32.dll EnumSystemLocalesA
kernel32.dll IsValidLocale
kernel32.dll HeapSize
kernel32.dll CloseHandle
kernel32.dll OutputDebugStringA
kernel32.dll LoadLibraryA
kernel32.dll VirtualAlloc
kernel32.dll GetProcAddress
kernel32.dll GetLastError
kernel32.dll GetStdHandle
kernel32.dll MultiByteToWideChar
kernel32.dll DecodePointer
kernel32.dll HeapReAlloc
kernel32.dll HeapAlloc
kernel32.dll HeapFree
kernel32.dll InitializeCriticalSection
kernel32.dll LeaveCriticalSection
kernel32.dll EnterCriticalSection
kernel32.dll GetModuleFileNameW
kernel32.dll GetFileType
kernel32.dll WriteConsoleW
kernel32.dll SetEndOfFile
kernel32.dll GetProcessHeap
kernel32.dll GetLocaleInfoW
kernel32.dll HeapCreate
kernel32.dll CreateFileW
kernel32.dll IsDebuggerPresent
kernel32.dll CreateEventA
kernel32.dll Sleep
kernel32.dll LoadLibraryW
kernel32.dll WaitForSingleObject
kernel32.dll GetCurrentProcess
kernel32.dll lstrcpynA
kernel32.dll CreateFileA
kernel32.dll InitializeCriticalSectionAndSpinCount
kernel32.dll GetModuleHandleA
user32.dll AppendMenuA
user32.dll ClipCursor
user32.dll IsDlgButtonChecked
user32.dll CreatePopupMenu
user32.dll SetMenuDefaultItem
user32.dll GetMenuItemInfoA
user32.dll GetCursorPos
user32.dll GetDesktopWindow
user32.dll GetSystemMetrics
user32.dll EnableWindow
user32.dll LoadCursorA
user32.dll DrawFrameControl
user32.dll RedrawWindow
user32.dll GetDlgItem
user32.dll ReleaseDC
user32.dll SetScrollPos
user32.dll GetWindowLongA
user32.dll MoveWindow
user32.dll ShowWindow
user32.dll GetMessageA
user32.dll RegisterClassExA
user32.dll PostQuitMessage
user32.dll TranslateMessage
user32.dll InvalidateRect
user32.dll GetWindowLongW
user32.dll CreateWindowExA
user32.dll SetWindowLongW
user32.dll DefWindowProcA
user32.dll DispatchMessageA
user32.dll UpdateWindow
user32.dll ValidateRect
user32.dll ClientToScreen
user32.dll DestroyWindow
user32.dll ScreenToClient
user32.dll GetWindowRect
user32.dll SetActiveWindow
user32.dll InsertMenuItemA
user32.dll SendDlgItemMessageA
user32.dll GetWindowDC
user32.dll FillRect
user32.dll GetKeyState
user32.dll GetSubMenu
user32.dll LoadBitmapA
user32.dll GetParent
user32.dll LoadMenuA
user32.dll LoadIconA
user32.dll GetClipCursor
user32.dll GetClientRect
user32.dll CreateMenu
user32.dll SetFocus
user32.dll SendMessageA
user32.dll BeginPaint
user32.dll PtInRect
user32.dll GetDC
user32.dll SetRect
user32.dll SetWindowLongA
user32.dll IntersectRect
user32.dll MessageBoxA
user32.dll UnionRect
gdi32.dll ExtTextOutA
gdi32.dll ExcludeClipRect
gdi32.dll CreateEllipticRgn
gdi32.dll GetTextExtentPoint32A
gdi32.dll SetTextColor
gdi32.dll DeleteDC
gdi32.dll GetDeviceCaps
gdi32.dll SetBkColor
gdi32.dll CreateSolidBrush
gdi32.dll DeleteObject
gdi32.dll SelectObject
gdi32.dll SelectClipRgn
gdi32.dll CreateCompatibleDC
gdi32.dll CreateCompatibleBitmap
gdi32.dll Rectangle
gdi32.dll CreateBrushIndirect
gdi32.dll StartDocA
gdi32.dll CreatePen
gdi32.dll GetTextMetricsA
gdi32.dll CreateICA
comdlg32.dll GetSaveFileNameW
advapi32.dll CreateRestrictedToken
advapi32.dll LookupPrivilegeValueA
advapi32.dll ImpersonateLoggedOnUser
advapi32.dll RevertToSelf
advapi32.dll AdjustTokenPrivileges
advapi32.dll LogonUserA
advapi32.dll OpenProcessToken
shell32.dll SHCreateShellItem
ole32.dll CoCreateInstance
ole32.dll CoUninitialize
ole32.dll CoInitialize
wininet.dll GopherOpenFileA
netapi32.dll Netbios
msvfw32.dll ICCompressorChoose
msimg32.dll GradientFill
winmm.dll mmioAscend
version.dll GetFileVersionInfoW
shlwapi.dll PathFindNextComponentW
shlwapi.dll StrToIntExA
comctl32.dll ImageList_DrawEx
comctl32.dll PropertySheetA
comctl32.dll ImageList_LoadImageA
comctl32.dll ImageList_GetIconSize
comctl32.dll ImageList_GetImageInfo
comctl32.dll CreatePropertySheetPageA
pdh.dll PdhMakeCounterPathA
pdh.dll PdhBrowseCountersA
pdh.dll PdhGetDllVersion
glu32.dll gluGetString
glu32.dll gluNewNurbsRenderer
imm32.dll ImmSetCompositionFontA
uxtheme.dll OpenThemeData
uxtheme.dll SetWindowTheme
uxtheme.dll CloseThemeData
dwrite.dll DWriteCreateFactory
