ole32.dll IIDFromString
ole32.dll StringFromGUID2
ole32.dll OleUninitialize
ole32.dll OleInitialize
ole32.dll OleRun
ole32.dll OleSetContainedObject
ole32.dll CoInitializeEx
ole32.dll CoTaskMemAlloc
ole32.dll CoTaskMemFree
ole32.dll CoInitialize
ole32.dll CoTaskMemRealloc
ole32.dll CoUninitialize
ole32.dll CoCreateInstance
shell32.dll SHGetFolderPathW
shell32.dll FindExecutableA
shell32.dll Shell_NotifyIconA
shell32.dll SHGetFolderPathA
shell32.dll ShellExecuteExA
wininet.dll InternetTimeFromSystemTime
wininet.dll InternetTimeToSystemTime
wininet.dll InternetCrackUrlA
wininet.dll HttpQueryInfoA
wininet.dll InternetConnectA
wininet.dll InternetReadFile
wininet.dll HttpOpenRequestA
wininet.dll InternetGetConnectedState
wininet.dll InternetErrorDlg
wininet.dll HttpSendRequestA
wininet.dll InternetOpenA
wininet.dll InternetCloseHandle
user32.dll IsChild
user32.dll SetFocus
user32.dll SetRect
user32.dll GetWindowThreadProcessId
user32.dll RegisterClassExA
user32.dll GetFocus
user32.dll GetAncestor
user32.dll GetSystemMenu
user32.dll GetWindowRect
user32.dll GetParent
user32.dll GetClientRect
user32.dll SendMessageA
user32.dll GetClassInfoExW
user32.dll GetDC
user32.dll TranslateMessage
user32.dll RegisterClassExW
user32.dll GetWindowLongW
user32.dll ReleaseDC
user32.dll EnableMenuItem
user32.dll SetWindowLongW
user32.dll GetDesktopWindow
user32.dll SetWindowPos
user32.dll CreateWindowExW
user32.dll AdjustWindowRectEx
user32.dll LoadCursorA
user32.dll SetWindowLongA
user32.dll GetWindowLongA
user32.dll CreateWindowExA
user32.dll MessageBoxA
user32.dll CharNextA
user32.dll DispatchMessageW
user32.dll RegisterClassA
user32.dll LoadImageA
user32.dll GetSystemMetrics
user32.dll DispatchMessageA
user32.dll PostMessageA
user32.dll AppendMenuA
user32.dll CreatePopupMenu
user32.dll ShowWindow
user32.dll MsgWaitForMultipleObjectsEx
user32.dll GetCursorPos
user32.dll DefWindowProcA
user32.dll IsWindowUnicode
user32.dll SetWindowTextW
user32.dll DefWindowProcW
user32.dll wsprintfA
user32.dll LoadStringA
user32.dll DestroyWindow
user32.dll GetMessageA
user32.dll GetMessageW
user32.dll PostQuitMessage
user32.dll TrackPopupMenu
user32.dll SetForegroundWindow
user32.dll PeekMessageA
comctl32.dll InitCommonControlsEx
version.dll GetFileVersionInfoA
version.dll GetFileVersionInfoSizeA
version.dll VerQueryValueW
version.dll VerQueryValueA
kernel32.dll GetStdHandle
kernel32.dll WriteConsoleW
kernel32.dll GetConsoleMode
kernel32.dll GetConsoleCP
kernel32.dll GetFileType
kernel32.dll GetStartupInfoW
kernel32.dll HeapSetInformation
kernel32.dll GetSystemTimeAsFileTime
kernel32.dll VirtualQuery
kernel32.dll GetSystemInfo
kernel32.dll GetModuleHandleW
kernel32.dll VirtualAlloc
kernel32.dll GetModuleFileNameW
kernel32.dll HeapAlloc
kernel32.dll HeapFree
kernel32.dll FileTimeToLocalFileTime
kernel32.dll GetDriveTypeW
kernel32.dll FindFirstFileExW
kernel32.dll SetStdHandle
kernel32.dll HeapReAlloc
kernel32.dll GetCPInfo
kernel32.dll RtlUnwind
kernel32.dll LCMapStringW
kernel32.dll UnhandledExceptionFilter
kernel32.dll SetUnhandledExceptionFilter
kernel32.dll ExitThread
kernel32.dll CreateDirectoryW
kernel32.dll VirtualProtect
kernel32.dll GetFullPathNameW
kernel32.dll HeapCreate
kernel32.dll TlsAlloc
kernel32.dll TlsGetValue
kernel32.dll TlsSetValue
kernel32.dll TlsFree
kernel32.dll SetLastError
kernel32.dll HeapSize
kernel32.dll GetLocaleInfoW
kernel32.dll SetHandleCount
kernel32.dll GetTimeZoneInformation
kernel32.dll SetFilePointer
kernel32.dll FlushFileBuffers
kernel32.dll IsDebuggerPresent
kernel32.dll IsProcessorFeaturePresent
kernel32.dll GetACP
kernel32.dll GetOEMCP
kernel32.dll IsValidCodePage
kernel32.dll FreeEnvironmentStringsW
kernel32.dll GetEnvironmentStringsW
kernel32.dll lstrcmpA
kernel32.dll GetModuleHandleA
kernel32.dll FindResourceA
kernel32.dll lstrlenA
kernel32.dll GetModuleHandleExA
kernel32.dll FreeLibrary
kernel32.dll LoadResource
kernel32.dll SetEndOfFile
kernel32.dll InterlockedDecrement
kernel32.dll GetCommandLineA
kernel32.dll WideCharToMultiByte
kernel32.dll InitializeCriticalSectionAndSpinCount
kernel32.dll SizeofResource
kernel32.dll SetDllDirectoryA
kernel32.dll IsDBCSLeadByte
kernel32.dll MultiByteToWideChar
kernel32.dll lstrlenW
kernel32.dll RaiseException
kernel32.dll GetLastError
kernel32.dll lstrcmpiA
kernel32.dll GetProcAddress
kernel32.dll GetModuleFileNameA
kernel32.dll LoadLibraryExA
kernel32.dll CreateMutexA
kernel32.dll DeleteCriticalSection
kernel32.dll CloseHandle
kernel32.dll WaitForSingleObject
kernel32.dll FormatMessageA
kernel32.dll GetExitCodeProcess
kernel32.dll LocalFree
kernel32.dll DeleteFileA
kernel32.dll SetEvent
kernel32.dll CreateEventA
kernel32.dll lstrcatA
kernel32.dll ResetEvent
kernel32.dll WaitForMultipleObjects
kernel32.dll CreateThread
kernel32.dll lstrcpyA
kernel32.dll lstrcpynA
kernel32.dll CreateFileA
kernel32.dll WriteFile
kernel32.dll Sleep
kernel32.dll ReadFile
kernel32.dll OpenEventA
kernel32.dll GetSystemTime
kernel32.dll GetCurrentProcess
kernel32.dll GetTickCount
kernel32.dll GetCurrentProcessId
kernel32.dll GetTempPathA
kernel32.dll SystemTimeToFileTime
kernel32.dll FileTimeToSystemTime
kernel32.dll MulDiv
kernel32.dll InterlockedExchange
kernel32.dll InterlockedExchangeAdd
kernel32.dll LocalAlloc
kernel32.dll GetCurrentThreadId
kernel32.dll FormatMessageW
kernel32.dll GetLocalTime
kernel32.dll ExitProcess
kernel32.dll GetLocaleInfoA
kernel32.dll GetWindowsDirectoryA
kernel32.dll OpenProcess
kernel32.dll TerminateProcess
kernel32.dll GetSystemDirectoryA
kernel32.dll FindFirstFileA
kernel32.dll FindClose
kernel32.dll LoadLibraryA
kernel32.dll LockResource
kernel32.dll GetNativeSystemInfo
kernel32.dll PeekNamedPipe
kernel32.dll SetHandleInformation
kernel32.dll CreateProcessA
kernel32.dll CreateDirectoryA
kernel32.dll GetProcessHeap
kernel32.dll CreatePipe
kernel32.dll GetSystemDefaultUILanguage
kernel32.dll GetThreadLocale
kernel32.dll GetUserDefaultUILanguage
kernel32.dll MoveFileExA
kernel32.dll GetFileAttributesA
kernel32.dll FindNextFileA
kernel32.dll OpenThread
kernel32.dll GetExitCodeThread
kernel32.dll GetModuleHandleExW
kernel32.dll LoadLibraryW
kernel32.dll LoadLibraryExW
kernel32.dll ReleaseMutex
kernel32.dll QueryPerformanceCounter
kernel32.dll QueryPerformanceFrequency
kernel32.dll CreateFileW
kernel32.dll SetFilePointerEx
kernel32.dll InitializeCriticalSection
kernel32.dll LeaveCriticalSection
kernel32.dll EnterCriticalSection
kernel32.dll InterlockedCompareExchange
kernel32.dll GetStringTypeW
kernel32.dll EncodePointer
kernel32.dll DecodePointer
kernel32.dll GetCurrentDirectoryW
kernel32.dll GetFileInformationByHandle
kernel32.dll GetUserDefaultLCID
kernel32.dll EnumSystemLocalesA
kernel32.dll IsValidLocale
kernel32.dll CompareStringW
kernel32.dll SetEnvironmentVariableA
kernel32.dll InterlockedIncrement
kernel32.dll RemoveDirectoryA
advapi32.dll SetSecurityDescriptorDacl
advapi32.dll InitializeSecurityDescriptor
advapi32.dll RegCloseKey
advapi32.dll RegDeleteValueA
advapi32.dll RegOpenKeyExA
advapi32.dll RegCreateKeyExA
advapi32.dll RegEnumKeyExA
advapi32.dll RegDeleteKeyA
advapi32.dll RegQueryInfoKeyW
advapi32.dll RegSetValueExA
advapi32.dll CryptGetHashParam
advapi32.dll RegQueryInfoKeyA
advapi32.dll GetTokenInformation
advapi32.dll CopySid
advapi32.dll GetWindowsAccountDomainSid
advapi32.dll CreateWellKnownSid
advapi32.dll ConvertStringSecurityDescriptorToSecurityDescriptorW
advapi32.dll ConvertSidToStringSidW
advapi32.dll RegQueryValueExA
advapi32.dll CryptReleaseContext
advapi32.dll CryptAcquireContextA
advapi32.dll CryptCreateHash
advapi32.dll CryptDestroyHash
advapi32.dll CryptHashData
advapi32.dll RegEnumKeyA
advapi32.dll OpenProcessToken
oleaut32.dll SysFreeString
oleaut32.dll VarUI4FromStr
oleaut32.dll VariantClear
oleaut32.dll SysAllocString
oleaut32.dll VariantCopy
oleaut32.dll VariantInit
oleaut32.dll VariantChangeType
oleaut32.dll GetErrorInfo
oleaut32.dll SysStringByteLen
gdi32.dll GetStockObject
gdi32.dll GetDeviceCaps
wintrust.dll WinVerifyTrust
crypt32.dll CryptMsgClose
crypt32.dll CryptQueryObject
crypt32.dll CertGetNameStringW
crypt32.dll CertFindCertificateInStore
crypt32.dll CertCloseStore
crypt32.dll CryptMsgGetParam
crypt32.dll CryptStringToBinaryA
crypt32.dll CryptBinaryToStringA
crypt32.dll CryptProtectData
crypt32.dll CryptUnprotectData
