advapi32.dll FreeSid
advapi32.dll RegisterEventSourceA
advapi32.dll InitializeSecurityDescriptor
advapi32.dll GetSidSubAuthority
advapi32.dll OpenEventLogW
advapi32.dll SetNamedSecurityInfoW
advapi32.dll LsaOpenPolicy
imagehlp.dll ImageGetCertificateHeader
msvcrt.dll _except_handler3
msvcrt.dll __set_app_type
msvcrt.dll __p__fmode
msvcrt.dll __p__commode
msvcrt.dll _adjust_fdiv
msvcrt.dll __setusermatherr
msvcrt.dll _initterm
msvcrt.dll __getmainargs
msvcrt.dll _acmdln
msvcrt.dll free
msvcrt.dll _flsbuf
msvcrt.dll sqrt
msvcrt.dll _onexit
msvcrt.dll __dllonexit
msvcrt.dll _setmbcp
msvcrt.dll _loaddll
msvcrt.dll _controlfp
kernel32.dll GetStartupInfoA
kernel32.dll GetModuleHandleA
