b'advapi32.dll' b'FreeSid'
b'advapi32.dll' b'RegisterEventSourceA'
b'advapi32.dll' b'InitializeSecurityDescriptor'
b'advapi32.dll' b'GetSidSubAuthority'
b'advapi32.dll' b'OpenEventLogW'
b'advapi32.dll' b'SetNamedSecurityInfoW'
b'advapi32.dll' b'LsaOpenPolicy'
b'imagehlp.dll' b'ImageGetCertificateHeader'
b'msvcrt.dll' b'_except_handler3'
b'msvcrt.dll' b'__set_app_type'
b'msvcrt.dll' b'__p__fmode'
b'msvcrt.dll' b'__p__commode'
b'msvcrt.dll' b'_adjust_fdiv'
b'msvcrt.dll' b'__setusermatherr'
b'msvcrt.dll' b'_initterm'
b'msvcrt.dll' b'__getmainargs'
b'msvcrt.dll' b'_acmdln'
b'msvcrt.dll' b'free'
b'msvcrt.dll' b'_flsbuf'
b'msvcrt.dll' b'sqrt'
b'msvcrt.dll' b'_onexit'
b'msvcrt.dll' b'__dllonexit'
b'msvcrt.dll' b'_setmbcp'
b'msvcrt.dll' b'_loaddll'
b'msvcrt.dll' b'_controlfp'
b'kernel32.dll' b'GetStartupInfoA'
b'kernel32.dll' b'GetModuleHandleA'
