kernel32.dll GetProcAddress
kernel32.dll GetVersion
kernel32.dll LoadLibraryA
kernel32.dll VirtualAlloc
kernel32.dll VirtualProtect
kernel32.dll ExitProcess
kernel32.dll VerLanguageNameA
kernel32.dll DnsHostnameToComputerNameW
comctl32.dll InitCommonControls
comctl32.dll CreateMappedBitmap
user32.dll SetCursorPos
user32.dll BroadcastSystemMessageExA
user32.dll wsprintfA
user32.dll GetQueueStatus
advapi32.dll SaferSetLevelInformation
advapi32.dll SystemFunction034
advapi32.dll CryptSetProvParam
advapi32.dll EnumerateTraceGuids
advapi32.dll WmiSetSingleItemA
advapi32.dll QueryServiceConfigA
ole32.dll WdtpInterfacePointer_UserSize
ole32.dll OleCreateLinkEx
ole32.dll SetErrorInfo
winspool.drv AddPrinterDriverA
oledlg.dll OleUIPasteSpecialA
oledlg.dll OleUIObjectPropertiesA
oledlg.dll OleUIInsertObjectW
oledlg.dll OleUIAddVerbMenuW
gdiplus.dll GdipCombineRegionRect
gdiplus.dll GdipImageSelectActiveFrame
shell32.dll ILCreateFromPath
shell32.dll SHGetInstanceExplorer
msimg32.dll GradientFill
msimg32.dll DllInitialize
oleacc.dll GetStateTextW
oleacc.dll AccessibleObjectFromEvent
oleacc.dll ObjectFromLresult
gdi32.dll GetRgnBox
gdi32.dll SelectObject
version.dll GetFileVersionInfoSizeW
version.dll VerInstallFileA
version.dll VerQueryValueA
winmm.dll midiStreamPause
winmm.dll midiOutClose
winmm.dll joyGetPos
winmm.dll midiInGetID
oleaut32.dll VarUI4FromI8
oleaut32.dll VarUI2FromR4
oleaut32.dll SysAllocStringLen
oleaut32.dll VarUI2FromDate
comdlg32.dll LoadAlterBitmap
comdlg32.dll GetFileTitleA
imagehlp.dll SymLoadModule64
shlwapi.dll SHDeleteEmptyKeyA
shlwapi.dll PathQuoteSpacesW
