kernel32.dll GetExitCodeProcess
kernel32.dll GetFileAttributesExW
kernel32.dll GetFileAttributesW
kernel32.dll GetFileSize
kernel32.dll GetFileType
kernel32.dll GetFullPathNameW
kernel32.dll GetLastError
kernel32.dll GetLocalTime
kernel32.dll GetLocaleInfoW
kernel32.dll GetModuleFileNameA
kernel32.dll GetModuleFileNameW
kernel32.dll GetModuleHandleA
kernel32.dll GetModuleHandleW
kernel32.dll GetPrivateProfileStringW
kernel32.dll GetProcAddress
kernel32.dll GetProcessHeap
kernel32.dll GetStartupInfoA
kernel32.dll GetStdHandle
kernel32.dll GetSystemTime
kernel32.dll GetSystemTimeAsFileTime
kernel32.dll GetTempFileNameW
kernel32.dll GetTempPathW
kernel32.dll GetThreadLocale
kernel32.dll GetTickCount
kernel32.dll GetTimeFormatW
kernel32.dll GetUserDefaultLCID
kernel32.dll GetVersion
kernel32.dll GetVersionExA
kernel32.dll GetVolumeInformationW
kernel32.dll GetWindowsDirectoryW
kernel32.dll Heap32ListFirst
kernel32.dll HeapAlloc
kernel32.dll HeapFree
kernel32.dll HeapReAlloc
kernel32.dll HeapSize
kernel32.dll InitializeCriticalSection
kernel32.dll InterlockedDecrement
kernel32.dll InterlockedIncrement
kernel32.dll IsSystemResumeAutomatic
kernel32.dll LeaveCriticalSection
kernel32.dll LoadLibraryA
kernel32.dll LoadLibraryW
kernel32.dll LocalFree
kernel32.dll MoveFileExA
kernel32.dll MoveFileExW
kernel32.dll MoveFileW
kernel32.dll MultiByteToWideChar
kernel32.dll GetEnvironmentVariableW
kernel32.dll QueryPerformanceCounter
kernel32.dll QueueUserAPC
kernel32.dll RaiseException
kernel32.dll ReadConsoleW
kernel32.dll ReadFile
kernel32.dll ReadProcessMemory
kernel32.dll RemoveDirectoryW
kernel32.dll ScrollConsoleScreenBufferW
kernel32.dll SearchPathW
kernel32.dll SetConsoleCtrlHandler
kernel32.dll SetConsoleCursorPosition
kernel32.dll SetConsoleMode
kernel32.dll SetConsoleTextAttribute
kernel32.dll SetConsoleTitleW
kernel32.dll SetCurrentDirectoryW
kernel32.dll SetEnvironmentVariableW
kernel32.dll SetErrorMode
kernel32.dll SetFileAttributesW
kernel32.dll SetFilePointer
kernel32.dll SetFileTime
kernel32.dll SetLastError
kernel32.dll SetLocalTime
kernel32.dll SetSystemTime
kernel32.dll SetThreadLocale
kernel32.dll SetUnhandledExceptionFilter
kernel32.dll SetVolumeLabelA
kernel32.dll SleepEx
kernel32.dll SwitchToThread
kernel32.dll SystemTimeToFileTime
kernel32.dll TerminateProcess
kernel32.dll TransmitCommChar
kernel32.dll UnhandledExceptionFilter
kernel32.dll VirtualAlloc
kernel32.dll VirtualFree
kernel32.dll VirtualFreeEx
kernel32.dll VirtualQuery
kernel32.dll WaitForSingleObject
kernel32.dll WideCharToMultiByte
kernel32.dll WriteConsoleW
kernel32.dll WriteFile
kernel32.dll WritePrivateProfileSectionA
kernel32.dll _hwrite
kernel32.dll lstrcmpW
kernel32.dll lstrcmpiW
kernel32.dll lstrcpyW
kernel32.dll lstrlenW
kernel32.dll GetEnvironmentStringsW
kernel32.dll GetDriveTypeW
kernel32.dll GetDiskFreeSpaceExW
kernel32.dll GetDateFormatW
kernel32.dll GetCurrentThreadId
kernel32.dll GetCurrentThread
kernel32.dll GetCurrentProcessId
kernel32.dll GetCurrentProcess
kernel32.dll GetCurrentDirectoryW
kernel32.dll GetConsoleTitleW
kernel32.dll GetConsoleScreenBufferInfo
kernel32.dll GetConsoleOutputCP
kernel32.dll GetConsoleMode
kernel32.dll GetCompressedFileSizeW
kernel32.dll GetCommandLineW
kernel32.dll GetCPInfo
kernel32.dll GetBinaryTypeW
kernel32.dll GetBinaryType
kernel32.dll FreeLibrary
kernel32.dll FormatMessageW
kernel32.dll FlushFileBuffers
kernel32.dll FlushConsoleInputBuffer
kernel32.dll FindNextFileW
kernel32.dll FindNextFileA
kernel32.dll FindFirstFileW
kernel32.dll FindFirstFileA
kernel32.dll FindClose
kernel32.dll FillConsoleOutputCharacterW
kernel32.dll FillConsoleOutputAttribute
kernel32.dll FileTimeToSystemTime
kernel32.dll FileTimeToLocalFileTime
kernel32.dll ExpandEnvironmentStringsW
kernel32.dll EraseTape
kernel32.dll EnterCriticalSection
kernel32.dll DuplicateHandle
kernel32.dll DeleteFileW
kernel32.dll DeleteFileA
kernel32.dll CreateThread
kernel32.dll CreateProcessW
kernel32.dll CreateFileW
kernel32.dll CreateFileA
kernel32.dll CreateDirectoryW
kernel32.dll CopyFileW
kernel32.dll CopyFileA
kernel32.dll ConvertDefaultLocale
kernel32.dll CompareFileTime
kernel32.dll CloseHandle
kernel32.dll OpenProcess
kernel32.dll AddAtomW
user32.dll DefWindowProcW
user32.dll DrawFocusRect
user32.dll CreateWindowStationA
user32.dll CreateMenu
user32.dll FillRect
user32.dll FindWindowW
user32.dll GetMenuCheckMarkDimensions
user32.dll GetProcessWindowStation
user32.dll GetSysColorBrush
user32.dll GetThreadDesktop
user32.dll GetUpdateRgn
user32.dll GetUserObjectInformationW
user32.dll InflateRect
user32.dll InsertMenuItemW
user32.dll IsIconic
user32.dll LockWindowUpdate
user32.dll MessageBeep
user32.dll MessageBoxW
user32.dll MonitorFromWindow
user32.dll OffsetRect
user32.dll PostMessageW
user32.dll RealGetWindowClass
user32.dll SendMessageW
user32.dll SetUserObjectInformationW
user32.dll ShowWindow
user32.dll ToUnicode
user32.dll WinHelpA
user32.dll LoadCursorW
user32.dll GetKBCodePage
user32.dll DefMDIChildProcW
user32.dll CloseWindowStation
gdi32.dll StartPage
gdi32.dll SetMiterLimit
gdi32.dll SetMapperFlags
gdi32.dll SetBitmapBits
gdi32.dll PtVisible
gdi32.dll OffsetClipRgn
gdi32.dll GetViewportOrgEx
gdi32.dll GetTextFaceW
gdi32.dll AddFontMemResourceEx
gdi32.dll AnimatePalette
gdi32.dll Arc
gdi32.dll BRUSHOBJ_pvAllocRbrush
gdi32.dll ColorMatchToTarget
gdi32.dll CopyEnhMetaFileA
gdi32.dll CreatePatternBrush
gdi32.dll DescribePixelFormat
gdi32.dll EngFreeModule
gdi32.dll EngTextOut
gdi32.dll EnumFontsW
gdi32.dll FillRgn
gdi32.dll GdiGetPageCount
gdi32.dll GetGlyphOutlineW
gdi32.dll GetMiterLimit
gdi32.dll GetOutlineTextMetricsA
advapi32.dll RegOpenKeyW
advapi32.dll SaferRecordEventLogEntry
advapi32.dll SaferIdentifyLevel
advapi32.dll SaferComputeTokenFromLevel
advapi32.dll SaferCloseLevel
advapi32.dll RevertToSelf
advapi32.dll RegSetValueW
advapi32.dll RegSetValueExW
advapi32.dll RegQueryValueW
advapi32.dll RegQueryValueExW
advapi32.dll CreateProcessAsUserW
advapi32.dll RegOpenKeyExW
advapi32.dll RegEnumKeyW
advapi32.dll RegDeleteKeyW
advapi32.dll RegCreateKeyExW
advapi32.dll RegCloseKey
advapi32.dll LookupAccountSidW
advapi32.dll ImpersonateLoggedOnUser
advapi32.dll GetSecurityDescriptorOwner
advapi32.dll GetFileSecurityW
advapi32.dll FreeSid
shell32.dll ShellExecuteExW
shell32.dll ShellExecuteA
shell32.dll ShellAboutA
shell32.dll SHIsFileAvailableOffline
shell32.dll SHGetSettings
shell32.dll CheckEscapesW
shell32.dll DragQueryFile
shell32.dll DragQueryFileAorW
shell32.dll ExtractIconExW
shell32.dll SHAppBarMessage
shell32.dll SHBrowseForFolderA
shell32.dll SHChangeNotify
shell32.dll SHCreateProcessAsUserW
shell32.dll SHEmptyRecycleBinA
shell32.dll SHFileOperationA
shell32.dll SHGetDataFromIDListA
shell32.dll SHGetDiskFreeSpaceA
shell32.dll SHGetMalloc
shell32.dll WOWShellExecute
shlwapi.dll StrCmpNW
shlwapi.dll StrStrIA
shlwapi.dll StrStrIW
shlwapi.dll StrCmpNA
shlwapi.dll StrChrIA
comctl32.dll ImageList_Create
msvcrt.dll _XcptFilter
msvcrt.dll __getmainargs
msvcrt.dll __initenv
msvcrt.dll __p__commode
msvcrt.dll __p__fmode
msvcrt.dll __set_app_type
msvcrt.dll __setusermatherr
msvcrt.dll _adjust_fdiv
msvcrt.dll _c_exit
msvcrt.dll _cexit
msvcrt.dll _close
msvcrt.dll _controlfp
msvcrt.dll _dup
msvcrt.dll _dup2
msvcrt.dll _errno
msvcrt.dll _except_handler3
msvcrt.dll _exit
msvcrt.dll _get_osfhandle
msvcrt.dll _getch
msvcrt.dll _initterm
msvcrt.dll _iob
msvcrt.dll _open_osfhandle
msvcrt.dll _pclose
msvcrt.dll _pipe
msvcrt.dll _seh_longjmp_unwind
msvcrt.dll _setjmp3
msvcrt.dll _setmode
msvcrt.dll _snwprintf
msvcrt.dll _tell
msvcrt.dll _ultoa
msvcrt.dll _vsnwprintf
msvcrt.dll _wcsicmp
msvcrt.dll _wcslwr
msvcrt.dll _wcsnicmp
msvcrt.dll _wcsupr
msvcrt.dll _wpopen
msvcrt.dll _wtol
msvcrt.dll calloc
msvcrt.dll exit
msvcrt.dll fflush
msvcrt.dll fgets
msvcrt.dll fprintf
msvcrt.dll free
msvcrt.dll iswalpha
msvcrt.dll iswdigit
msvcrt.dll iswspace
msvcrt.dll iswxdigit
msvcrt.dll longjmp
msvcrt.dll malloc
msvcrt.dll memmove
msvcrt.dll printf
msvcrt.dll qsort
msvcrt.dll rand
msvcrt.dll realloc
msvcrt.dll setlocale
msvcrt.dll srand
msvcrt.dll swprintf
msvcrt.dll swscanf
msvcrt.dll time
msvcrt.dll towlower
msvcrt.dll towupper
msvcrt.dll wcscat
msvcrt.dll wcschr
msvcrt.dll wcscmp
msvcrt.dll wcscpy
msvcrt.dll wcslen
msvcrt.dll wcsncmp
msvcrt.dll wcsncpy
msvcrt.dll wcsrchr
msvcrt.dll wcsspn
msvcrt.dll wcsstr
msvcrt.dll wcstol
msvcrt.dll wcstoul
