advapi32.dll GetSecurityDescriptorDacl
advapi32.dll RegisterEventSourceA
advapi32.dll RegQueryInfoKeyA
advapi32.dll GetSidSubAuthorityCount
advapi32.dll RegSetValueExA
advapi32.dll RegDeleteKeyA
advapi32.dll GetKernelObjectSecurity
advapi32.dll RegCloseKey
advapi32.dll RegQueryValueA
advapi32.dll RegLoadKeyA
advapi32.dll GetSidSubAuthority
advapi32.dll RegConnectRegistryA
advapi32.dll LookupPrivilegeValueA
advapi32.dll InitiateSystemShutdownA
advapi32.dll CreateProcessAsUserA
advapi32.dll GetSidIdentifierAuthority
advapi32.dll OpenThreadToken
advapi32.dll LsaQueryInformationPolicy
advapi32.dll RegQueryValueW
advapi32.dll EncryptFileW
advapi32.dll RegSetValueW
advapi32.dll MakeAbsoluteSD
advapi32.dll RegOpenKeyExA
advapi32.dll RegCreateKeyExW
advapi32.dll AddAce
advapi32.dll SetNamedSecurityInfoW
advapi32.dll OpenEventLogW
advapi32.dll GetUserNameW
advapi32.dll SetSecurityDescriptorSacl
advapi32.dll MakeSelfRelativeSD
advapi32.dll RegFlushKey
advapi32.dll InitializeSecurityDescriptor
advapi32.dll InitializeAcl
advapi32.dll SetEntriesInAclA
advapi32.dll GetSidLengthRequired
advapi32.dll RegSetValueA
advapi32.dll SetEntriesInAclW
advapi32.dll GetAclInformation
user32.dll DrawIconEx
user32.dll IsDialogMessageA
user32.dll OffsetRect
user32.dll PostThreadMessageW
user32.dll DialogBoxParamA
user32.dll GetLastActivePopup
user32.dll GetGUIThreadInfo
user32.dll DrawStateA
user32.dll IsWindow
user32.dll OpenClipboard
user32.dll InSendMessage
user32.dll FindWindowW
user32.dll IsMenu
user32.dll EnumDisplaySettingsA
user32.dll DrawAnimatedRects
user32.dll FrameRect
user32.dll SetMenuDefaultItem
user32.dll GrayStringW
user32.dll CreateDialogIndirectParamW
user32.dll ClientToScreen
user32.dll GetParent
user32.dll TranslateMDISysAccel
user32.dll CreateDesktopW
user32.dll ShowCaret
user32.dll GetProcessWindowStation
user32.dll TrackPopupMenu
user32.dll IntersectRect
user32.dll DialogBoxIndirectParamA
user32.dll DefWindowProcA
user32.dll ReuseDDElParam
user32.dll NotifyWinEvent
user32.dll SetClipboardData
user32.dll CloseClipboard
user32.dll DdeDisconnect
user32.dll GetClassNameA
user32.dll GetCaretPos
user32.dll CharLowerW
user32.dll GetWindowModuleFileNameA
user32.dll IsWindowVisible
user32.dll wvsprintfA
user32.dll ModifyMenuA
user32.dll SendDlgItemMessageW
user32.dll SetCaretBlinkTime
user32.dll LoadMenuW
user32.dll GetMenuState
user32.dll DrawTextExA
user32.dll ChangeDisplaySettingsW
user32.dll CreateWindowExW
user32.dll GetCapture
user32.dll CreatePopupMenu
user32.dll SetMenu
user32.dll CharUpperBuffW
user32.dll DrawStateW
user32.dll LoadImageA
user32.dll GetScrollPos
user32.dll GetDlgItem
user32.dll GetClipboardFormatNameW
user32.dll ValidateRgn
user32.dll GetWindowThreadProcessId
user32.dll GetClassInfoExW
user32.dll DdeAccessData
user32.dll ShowWindow
user32.dll GetKeyboardLayout
user32.dll GetClassInfoW
user32.dll SetCaretPos
user32.dll LoadCursorA
user32.dll FillRect
user32.dll LoadMenuA
user32.dll mouse_event
user32.dll ModifyMenuW
user32.dll InvalidateRgn
user32.dll GetMenuItemID
user32.dll IsIconic
user32.dll OemToCharA
user32.dll LoadCursorFromFileW
user32.dll RegisterWindowMessageA
user32.dll DispatchMessageW
user32.dll GetCursorPos
user32.dll CharPrevA
user32.dll GetWindowWord
imm32.dll ImmGetProperty
imm32.dll ImmGetCandidateListCountA
imm32.dll ImmGetCompositionStringA
imm32.dll ImmSetConversionStatus
imm32.dll ImmSetOpenStatus
imm32.dll ImmCreateContext
imm32.dll ImmGetOpenStatus
imm32.dll ImmNotifyIME
imm32.dll ImmInstallIMEA
imm32.dll ImmGetContext
imm32.dll ImmDestroyContext
imm32.dll ImmSimulateHotKey
imm32.dll ImmConfigureIMEA
imm32.dll ImmAssociateContext
rasapi32.dll RasDialA
rasapi32.dll RasGetProjectionInfoA
kernel32.dll WriteFileGather
kernel32.dll PulseEvent
kernel32.dll GetLongPathNameA
