netapi32.dll NetShareEnum
netapi32.dll NetApiBufferFree
iphlpapi.dll GetAdaptersInfo
ws2_32.dll htons
ws2_32.dll ioctlsocket
ws2_32.dll WSAGetLastError
ws2_32.dll connect
ws2_32.dll inet_addr
ws2_32.dll __WSAFDIsSet
ws2_32.dll closesocket
ws2_32.dll select
ws2_32.dll WSACleanup
ws2_32.dll WSAStartup
ws2_32.dll socket
crypt32.dll CryptBinaryToStringA
gdiplus.dll GdipDrawString
gdiplus.dll GdipCreateStringFormat
gdiplus.dll GdipDeleteFontFamily
gdiplus.dll GdipGetImageEncoders
gdiplus.dll GdipCreateFontFamilyFromName
gdiplus.dll GdipDeleteBrush
gdiplus.dll GdipDisposeImage
gdiplus.dll GdipCreateFont
gdiplus.dll GdipCreateSolidFill
gdiplus.dll GdipFillRectangle
gdiplus.dll GdipGetGenericFontFamilySansSerif
gdiplus.dll GdiplusStartup
gdiplus.dll GdipGetImageGraphicsContext
gdiplus.dll GdipGetImageEncodersSize
gdiplus.dll GdipDeleteGraphics
gdiplus.dll GdipDeleteStringFormat
gdiplus.dll GdipDeleteFont
gdiplus.dll GdipCreateBitmapFromScan0
gdiplus.dll GdipSaveImageToFile
shlwapi.dll PathRemoveExtensionA
shlwapi.dll PathRemoveBackslashW
shlwapi.dll PathAddBackslashW
shlwapi.dll StrFormatByteSize64A
shlwapi.dll PathRemoveFileSpecW
shlwapi.dll PathFindExtensionW
mpr.dll WNetAddConnection2W
mpr.dll WNetOpenEnumW
mpr.dll WNetEnumResourceW
mpr.dll WNetGetConnectionW
mpr.dll WNetCloseEnum
ntdll.dll RtlAdjustPrivilege
ntdll.dll RtlInitUnicodeString
ntdll.dll NtAllocateVirtualMemory
ntdll.dll LdrEnumerateLoadedModules
ntdll.dll RtlAcquirePebLock
ntdll.dll RtlReleasePebLock
ntdll.dll memcpy
ntdll.dll memset
msvcrt.dll malloc
msvcrt.dll calloc
msvcrt.dll free
kernel32.dll QueryDosDeviceW
kernel32.dll FindFirstVolumeW
kernel32.dll GetModuleFileNameW
kernel32.dll lstrcpyW
kernel32.dll GetWindowsDirectoryW
kernel32.dll lstrcatW
kernel32.dll InterlockedPopEntrySList
kernel32.dll AllocConsole
kernel32.dll GetCurrentProcessId
kernel32.dll InitializeSListHead
kernel32.dll InterlockedPushEntrySList
kernel32.dll lstrcpyA
kernel32.dll InterlockedFlushSList
kernel32.dll MoveFileW
kernel32.dll CreateIoCompletionPort
kernel32.dll SystemTimeToFileTime
kernel32.dll GetQueuedCompletionStatus
kernel32.dll SetFileTime
kernel32.dll WriteFile
kernel32.dll GetFileSizeEx
kernel32.dll ReadFile
kernel32.dll SetThreadAffinityMask
kernel32.dll FindNextVolumeW
kernel32.dll GetVolumePathNamesForVolumeNameW
kernel32.dll FindVolumeClose
kernel32.dll SetVolumeMountPointW
kernel32.dll GetLogicalDrives
kernel32.dll FindFirstFileExW
kernel32.dll EnterCriticalSection
kernel32.dll GetCommandLineW
kernel32.dll FindNextFileW
kernel32.dll lstrlenW
kernel32.dll WaitForMultipleObjects
kernel32.dll LeaveCriticalSection
kernel32.dll InitializeCriticalSection
kernel32.dll FindClose
kernel32.dll GetFileAttributesW
kernel32.dll ExitThread
kernel32.dll OpenProcess
kernel32.dll SetFileAttributesW
kernel32.dll CreateToolhelp32Snapshot
kernel32.dll Sleep
kernel32.dll GetLastError
kernel32.dll Process32NextW
kernel32.dll GetDiskFreeSpaceExW
kernel32.dll GlobalAlloc
kernel32.dll Process32FirstW
kernel32.dll GlobalFree
kernel32.dll CloseHandle
kernel32.dll CreateThread
kernel32.dll DeleteCriticalSection
kernel32.dll ExitProcess
kernel32.dll GetConsoleWindow
kernel32.dll lstrcmpiW
kernel32.dll GetDriveTypeW
kernel32.dll GetTempPathW
kernel32.dll MultiByteToWideChar
kernel32.dll GetTempFileNameW
kernel32.dll CreateMutexA
kernel32.dll OpenMutexA
kernel32.dll LoadLibraryA
kernel32.dll GetProcAddress
kernel32.dll GetTickCount
kernel32.dll GetSystemInfo
kernel32.dll GetLocalTime
kernel32.dll Process32First
kernel32.dll TerminateProcess
kernel32.dll GetUserDefaultLangID
kernel32.dll GetConsoleMode
kernel32.dll WaitForSingleObject
kernel32.dll GetModuleHandleA
kernel32.dll Process32Next
kernel32.dll lstrcmpiA
kernel32.dll CreateProcessA
kernel32.dll lstrcmpW
kernel32.dll SetConsoleCtrlHandler
kernel32.dll SetConsoleTextAttribute
kernel32.dll SetConsoleTitleA
kernel32.dll GetStdHandle
kernel32.dll WriteConsoleA
kernel32.dll SetConsoleMode
kernel32.dll SetProcessShutdownParameters
kernel32.dll SetErrorMode
kernel32.dll CreateFileW
user32.dll PeekMessageW
user32.dll GetWindowLongA
user32.dll wvsprintfA
user32.dll SetWindowLongA
user32.dll ShowWindow
user32.dll GetMessageW
user32.dll CharLowerBuffW
user32.dll CharUpperA
user32.dll DeleteMenu
user32.dll wsprintfW
user32.dll FlashWindow
user32.dll wsprintfA
user32.dll IsWindowVisible
user32.dll SystemParametersInfoW
user32.dll GetSystemMetrics
user32.dll EnableMenuItem
user32.dll SetLayeredWindowAttributes
user32.dll RegisterHotKey
user32.dll ShutdownBlockReasonCreate
user32.dll GetSystemMenu
advapi32.dll RegCreateKeyExA
advapi32.dll DuplicateToken
advapi32.dll SetThreadToken
advapi32.dll OpenProcessToken
advapi32.dll RegSetValueExA
advapi32.dll RegOpenKeyA
advapi32.dll RegCloseKey
advapi32.dll RegQueryValueExA
advapi32.dll GetAclInformation
advapi32.dll GetAce
advapi32.dll AllocateAndInitializeSid
advapi32.dll AddAce
advapi32.dll AddAccessDeniedAce
advapi32.dll FreeSid
advapi32.dll InitializeAcl
advapi32.dll SetSecurityInfo
advapi32.dll GetLengthSid
advapi32.dll GetSecurityInfo
advapi32.dll EnumDependentServicesA
advapi32.dll CryptReleaseContext
advapi32.dll InitializeSecurityDescriptor
advapi32.dll CloseServiceHandle
advapi32.dll OpenSCManagerA
advapi32.dll GetTokenInformation
advapi32.dll ControlService
advapi32.dll RegSetValueExW
advapi32.dll RegDeleteValueW
advapi32.dll QueryServiceStatusEx
advapi32.dll RegQueryValueExW
advapi32.dll OpenServiceA
advapi32.dll AdjustTokenPrivileges
advapi32.dll SetFileSecurityW
advapi32.dll CryptAcquireContextW
advapi32.dll SetSecurityDescriptorOwner
advapi32.dll CryptGenRandom
advapi32.dll LookupPrivilegeValueA
advapi32.dll CreateWellKnownSid
advapi32.dll CheckTokenMembership
shell32.dll SHEmptyRecycleBinW
shell32.dll ShellExecuteExA
shell32.dll ShellExecuteExW
shell32.dll CommandLineToArgvW
ole32.dll CoGetObject
ole32.dll CoUninitialize
ole32.dll CoInitializeEx
