user32.dll EnableMenuItem
user32.dll GetDlgItem
user32.dll SendDlgItemMessageA
user32.dll AppendMenuA
user32.dll GetWindowLongA
user32.dll wvsprintfA
user32.dll SetWindowPos
user32.dll FindWindowA
user32.dll RedrawWindow
user32.dll GetWindowTextA
user32.dll EnableWindow
user32.dll GetSystemMetrics
user32.dll IsWindow
user32.dll CheckRadioButton
user32.dll UnregisterClassA
user32.dll SetCursor
user32.dll GetSysColorBrush
user32.dll DialogBoxParamA
user32.dll DestroyAcceleratorTable
user32.dll DispatchMessageA
user32.dll TranslateMessage
user32.dll LoadIconA
user32.dll EmptyClipboard
user32.dll SetClipboardData
user32.dll SetFocus
user32.dll CharUpperA
user32.dll OpenClipboard
user32.dll IsDialogMessageA
user32.dll TranslateAcceleratorA
user32.dll GetMessageA
user32.dll LoadAcceleratorsA
user32.dll RemoveMenu
user32.dll InvalidateRect
user32.dll ChildWindowFromPoint
user32.dll PostMessageA
user32.dll DestroyCursor
user32.dll CreateDialogParamA
user32.dll GetWindowRect
user32.dll IsMenu
user32.dll GetSubMenu
user32.dll SetDlgItemInt
user32.dll GetWindowPlacement
user32.dll CharLowerBuffA
user32.dll LoadCursorA
user32.dll CheckMenuRadioItem
user32.dll GetSysColor
user32.dll KillTimer
user32.dll DestroyIcon
user32.dll DestroyWindow
user32.dll PostQuitMessage
user32.dll GetClientRect
user32.dll MoveWindow
user32.dll GetSystemMenu
user32.dll SetTimer
user32.dll SetWindowPlacement
user32.dll InsertMenuItemA
user32.dll GetMenu
user32.dll CheckMenuItem
user32.dll SetMenuItemInfoA
user32.dll SetActiveWindow
user32.dll DefDlgProcA
user32.dll RegisterClassA
user32.dll EndDialog
user32.dll SetDlgItemTextA
user32.dll EnumClipboardFormats
user32.dll GetClipboardData
user32.dll CloseClipboard
user32.dll GetClassInfoA
user32.dll CallWindowProcA
user32.dll SetWindowLongA
user32.dll IsDlgButtonChecked
user32.dll SetWindowTextA
user32.dll CheckDlgButton
user32.dll GetActiveWindow
user32.dll MessageBoxA
user32.dll wsprintfA
user32.dll GetDlgItemTextA
user32.dll SendMessageA
user32.dll GetCursorPos
user32.dll TrackPopupMenu
user32.dll ClientToScreen
user32.dll DestroyMenu
user32.dll CreatePopupMenu
comdlg32.dll GetSaveFileNameA
comdlg32.dll GetOpenFileNameA
advapi32.dll RegSetValueA
advapi32.dll RegQueryValueExA
advapi32.dll OpenProcessToken
advapi32.dll LookupPrivilegeValueA
advapi32.dll AdjustTokenPrivileges
advapi32.dll RegOpenKeyExA
advapi32.dll RegCloseKey
advapi32.dll RegCreateKeyA
advapi32.dll RegDeleteKeyA
advapi32.dll GetUserNameA
dbghelp.dll ImageNtHeader
dbghelp.dll ImageRvaToSection
dbghelp.dll ImageRvaToVa
comctl32.dll ImageList_Destroy
comctl32.dll InitCommonControlsEx
comctl32.dll ImageList_ReplaceIcon
comctl32.dll ImageList_Remove
comctl32.dll CreateToolbarEx
comctl32.dll ImageList_SetBkColor
comctl32.dll ImageList_Create
kernel32.dll IsValidCodePage
kernel32.dll GetOEMCP
kernel32.dll GetACP
kernel32.dll GetCPInfo
kernel32.dll GetSystemTimeAsFileTime
kernel32.dll GetCurrentProcessId
kernel32.dll GetTickCount
kernel32.dll QueryPerformanceCounter
kernel32.dll HeapFree
kernel32.dll VirtualFree
kernel32.dll HeapCreate
kernel32.dll GetFileType
kernel32.dll SetHandleCount
kernel32.dll GetEnvironmentStringsW
kernel32.dll WideCharToMultiByte
kernel32.dll FreeEnvironmentStringsW
kernel32.dll GetEnvironmentStrings
kernel32.dll FreeEnvironmentStringsA
kernel32.dll InitializeCriticalSectionAndSpinCount
kernel32.dll LoadLibraryA
kernel32.dll IsDebuggerPresent
kernel32.dll SetUnhandledExceptionFilter
kernel32.dll UnhandledExceptionFilter
kernel32.dll GetCurrentProcess
kernel32.dll TerminateProcess
kernel32.dll EnterCriticalSection
kernel32.dll HeapSize
kernel32.dll LeaveCriticalSection
kernel32.dll DeleteCriticalSection
kernel32.dll GetLocaleInfoA
kernel32.dll WriteFile
kernel32.dll InterlockedDecrement
kernel32.dll GetLastError
kernel32.dll GetCurrentThreadId
kernel32.dll SetLastError
kernel32.dll InterlockedIncrement
kernel32.dll TlsFree
kernel32.dll TlsSetValue
kernel32.dll TlsAlloc
kernel32.dll TlsGetValue
kernel32.dll GetStartupInfoA
kernel32.dll ExitProcess
kernel32.dll GetProcAddress
kernel32.dll Sleep
kernel32.dll GetModuleHandleW
kernel32.dll GlobalCompact
kernel32.dll SetProcessWorkingSetSize
kernel32.dll EncodePointer
kernel32.dll OpenProcess
kernel32.dll GlobalUnWire
kernel32.dll GetStdHandle
kernel32.dll IsWow64Process
kernel32.dll GetProcessHandleCount
kernel32.dll GetProcessHeap
kernel32.dll FlushFileBuffers
kernel32.dll PulseEvent
kernel32.dll GetVersion
kernel32.dll RtlUnwind
kernel32.dll HeapAlloc
kernel32.dll VirtualAlloc
kernel32.dll HeapReAlloc
kernel32.dll GetStringTypeA
kernel32.dll MultiByteToWideChar
kernel32.dll GetStringTypeW
kernel32.dll GetCommandLineA
kernel32.dll GetProcessId
kernel32.dll LockResource
kernel32.dll GlobalDeleteAtom
kernel32.dll LCMapStringA
kernel32.dll LCMapStringW
kernel32.dll GetModuleFileNameA
kernel32.dll SetProcessPriorityBoost
kernel32.dll GlobalUnfix
kernel32.dll RequestWakeupLatency
kernel32.dll IsProcessInJob
kernel32.dll GetThreadTimes
kernel32.dll GetProcessTimes
kernel32.dll PeekNamedPipe
