kernel32.dll WaitForSingleObject
kernel32.dll InterlockedIncrement
kernel32.dll GetCurrentThreadId
kernel32.dll GetCurrentThread
kernel32.dll ReadFile
kernel32.dll GetFileSize
kernel32.dll CreateFileA
kernel32.dll MoveFileExA
kernel32.dll SizeofResource
kernel32.dll TerminateThread
kernel32.dll LoadResource
kernel32.dll FindResourceA
kernel32.dll GetProcAddress
kernel32.dll GetModuleHandleW
kernel32.dll ExitProcess
kernel32.dll GetModuleFileNameA
kernel32.dll LocalFree
kernel32.dll LocalAlloc
kernel32.dll CloseHandle
kernel32.dll InterlockedDecrement
kernel32.dll EnterCriticalSection
kernel32.dll LeaveCriticalSection
kernel32.dll InitializeCriticalSection
kernel32.dll GlobalAlloc
kernel32.dll GlobalFree
kernel32.dll QueryPerformanceFrequency
kernel32.dll QueryPerformanceCounter
kernel32.dll GetTickCount
kernel32.dll LockResource
kernel32.dll Sleep
kernel32.dll GetStartupInfoA
kernel32.dll GetModuleHandleA
advapi32.dll StartServiceCtrlDispatcherA
advapi32.dll RegisterServiceCtrlHandlerA
advapi32.dll ChangeServiceConfig2A
advapi32.dll SetServiceStatus
advapi32.dll OpenSCManagerA
advapi32.dll CreateServiceA
advapi32.dll CloseServiceHandle
advapi32.dll StartServiceA
advapi32.dll CryptGenRandom
advapi32.dll CryptAcquireContextA
advapi32.dll OpenServiceA
ws2_32.dll closesocket
ws2_32.dll recv
ws2_32.dll send
ws2_32.dll htonl
ws2_32.dll ntohl
ws2_32.dll WSAStartup
ws2_32.dll inet_ntoa
ws2_32.dll ioctlsocket
ws2_32.dll select
ws2_32.dll htons
ws2_32.dll socket
ws2_32.dll connect
ws2_32.dll inet_addr
msvcp60.dll ??1_Lockit@std@@QAE@XZ
msvcp60.dll ??0_Lockit@std@@QAE@XZ
iphlpapi.dll GetAdaptersInfo
iphlpapi.dll GetPerAdapterInfo
wininet.dll InternetOpenA
wininet.dll InternetOpenUrlA
wininet.dll InternetCloseHandle
msvcrt.dll __set_app_type
msvcrt.dll _stricmp
msvcrt.dll __p__fmode
msvcrt.dll __p__commode
msvcrt.dll _except_handler3
msvcrt.dll __setusermatherr
msvcrt.dll _initterm
msvcrt.dll __getmainargs
msvcrt.dll _acmdln
msvcrt.dll _adjust_fdiv
msvcrt.dll _controlfp
msvcrt.dll exit
msvcrt.dll _XcptFilter
msvcrt.dll _exit
msvcrt.dll _onexit
msvcrt.dll __dllonexit
msvcrt.dll free
msvcrt.dll ??2@YAPAXI@Z
msvcrt.dll _ftol
msvcrt.dll sprintf
msvcrt.dll _endthreadex
msvcrt.dll strncpy
msvcrt.dll rand
msvcrt.dll _beginthreadex
msvcrt.dll __CxxFrameHandler
msvcrt.dll srand
msvcrt.dll time
msvcrt.dll __p___argc
