b'kernel32.dll' b'GetExitCodeProcess'
b'kernel32.dll' b'GetFileAttributesExW'
b'kernel32.dll' b'GetFileAttributesW'
b'kernel32.dll' b'GetFileSize'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'GetFullPathNameW'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'GetLocalTime'
b'kernel32.dll' b'GetLocaleInfoW'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'GetModuleHandleA'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'GetPrivateProfileStringW'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'GetStartupInfoA'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'GetSystemTime'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'GetTempFileNameW'
b'kernel32.dll' b'GetTempPathW'
b'kernel32.dll' b'GetThreadLocale'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'GetTimeFormatW'
b'kernel32.dll' b'GetUserDefaultLCID'
b'kernel32.dll' b'GetVersion'
b'kernel32.dll' b'GetVersionExA'
b'kernel32.dll' b'GetVolumeInformationW'
b'kernel32.dll' b'GetWindowsDirectoryW'
b'kernel32.dll' b'Heap32ListFirst'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'InitializeCriticalSection'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'IsSystemResumeAutomatic'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'LoadLibraryW'
b'kernel32.dll' b'LocalFree'
b'kernel32.dll' b'MoveFileExA'
b'kernel32.dll' b'MoveFileExW'
b'kernel32.dll' b'MoveFileW'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'GetEnvironmentVariableW'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'QueueUserAPC'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'ReadConsoleW'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'ReadProcessMemory'
b'kernel32.dll' b'RemoveDirectoryW'
b'kernel32.dll' b'ScrollConsoleScreenBufferW'
b'kernel32.dll' b'SearchPathW'
b'kernel32.dll' b'SetConsoleCtrlHandler'
b'kernel32.dll' b'SetConsoleCursorPosition'
b'kernel32.dll' b'SetConsoleMode'
b'kernel32.dll' b'SetConsoleTextAttribute'
b'kernel32.dll' b'SetConsoleTitleW'
b'kernel32.dll' b'SetCurrentDirectoryW'
b'kernel32.dll' b'SetEnvironmentVariableW'
b'kernel32.dll' b'SetErrorMode'
b'kernel32.dll' b'SetFileAttributesW'
b'kernel32.dll' b'SetFilePointer'
b'kernel32.dll' b'SetFileTime'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'SetLocalTime'
b'kernel32.dll' b'SetSystemTime'
b'kernel32.dll' b'SetThreadLocale'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'SetVolumeLabelA'
b'kernel32.dll' b'SleepEx'
b'kernel32.dll' b'SwitchToThread'
b'kernel32.dll' b'SystemTimeToFileTime'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'TransmitCommChar'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'VirtualFree'
b'kernel32.dll' b'VirtualFreeEx'
b'kernel32.dll' b'VirtualQuery'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'WriteConsoleW'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'WritePrivateProfileSectionA'
b'kernel32.dll' b'_hwrite'
b'kernel32.dll' b'lstrcmpW'
b'kernel32.dll' b'lstrcmpiW'
b'kernel32.dll' b'lstrcpyW'
b'kernel32.dll' b'lstrlenW'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'GetDriveTypeW'
b'kernel32.dll' b'GetDiskFreeSpaceExW'
b'kernel32.dll' b'GetDateFormatW'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'GetCurrentThread'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'GetCurrentDirectoryW'
b'kernel32.dll' b'GetConsoleTitleW'
b'kernel32.dll' b'GetConsoleScreenBufferInfo'
b'kernel32.dll' b'GetConsoleOutputCP'
b'kernel32.dll' b'GetConsoleMode'
b'kernel32.dll' b'GetCompressedFileSizeW'
b'kernel32.dll' b'GetCommandLineW'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'GetBinaryTypeW'
b'kernel32.dll' b'GetBinaryType'
b'kernel32.dll' b'FreeLibrary'
b'kernel32.dll' b'FormatMessageW'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'FlushConsoleInputBuffer'
b'kernel32.dll' b'FindNextFileW'
b'kernel32.dll' b'FindNextFileA'
b'kernel32.dll' b'FindFirstFileW'
b'kernel32.dll' b'FindFirstFileA'
b'kernel32.dll' b'FindClose'
b'kernel32.dll' b'FillConsoleOutputCharacterW'
b'kernel32.dll' b'FillConsoleOutputAttribute'
b'kernel32.dll' b'FileTimeToSystemTime'
b'kernel32.dll' b'FileTimeToLocalFileTime'
b'kernel32.dll' b'ExpandEnvironmentStringsW'
b'kernel32.dll' b'EraseTape'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'DuplicateHandle'
b'kernel32.dll' b'DeleteFileW'
b'kernel32.dll' b'DeleteFileA'
b'kernel32.dll' b'CreateThread'
b'kernel32.dll' b'CreateProcessW'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'CreateFileA'
b'kernel32.dll' b'CreateDirectoryW'
b'kernel32.dll' b'CopyFileW'
b'kernel32.dll' b'CopyFileA'
b'kernel32.dll' b'ConvertDefaultLocale'
b'kernel32.dll' b'CompareFileTime'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'OpenProcess'
b'kernel32.dll' b'AddAtomW'
b'user32.dll' b'DefWindowProcW'
b'user32.dll' b'DrawFocusRect'
b'user32.dll' b'CreateWindowStationA'
b'user32.dll' b'CreateMenu'
b'user32.dll' b'FillRect'
b'user32.dll' b'FindWindowW'
b'user32.dll' b'GetMenuCheckMarkDimensions'
b'user32.dll' b'GetProcessWindowStation'
b'user32.dll' b'GetSysColorBrush'
b'user32.dll' b'GetThreadDesktop'
b'user32.dll' b'GetUpdateRgn'
b'user32.dll' b'GetUserObjectInformationW'
b'user32.dll' b'InflateRect'
b'user32.dll' b'InsertMenuItemW'
b'user32.dll' b'IsIconic'
b'user32.dll' b'LockWindowUpdate'
b'user32.dll' b'MessageBeep'
b'user32.dll' b'MessageBoxW'
b'user32.dll' b'MonitorFromWindow'
b'user32.dll' b'OffsetRect'
b'user32.dll' b'PostMessageW'
b'user32.dll' b'RealGetWindowClass'
b'user32.dll' b'SendMessageW'
b'user32.dll' b'SetUserObjectInformationW'
b'user32.dll' b'ShowWindow'
b'user32.dll' b'ToUnicode'
b'user32.dll' b'WinHelpA'
b'user32.dll' b'LoadCursorW'
b'user32.dll' b'GetKBCodePage'
b'user32.dll' b'DefMDIChildProcW'
b'user32.dll' b'CloseWindowStation'
b'gdi32.dll' b'StartPage'
b'gdi32.dll' b'SetMiterLimit'
b'gdi32.dll' b'SetMapperFlags'
b'gdi32.dll' b'SetBitmapBits'
b'gdi32.dll' b'PtVisible'
b'gdi32.dll' b'OffsetClipRgn'
b'gdi32.dll' b'GetViewportOrgEx'
b'gdi32.dll' b'GetTextFaceW'
b'gdi32.dll' b'AddFontMemResourceEx'
b'gdi32.dll' b'AnimatePalette'
b'gdi32.dll' b'Arc'
b'gdi32.dll' b'BRUSHOBJ_pvAllocRbrush'
b'gdi32.dll' b'ColorMatchToTarget'
b'gdi32.dll' b'CopyEnhMetaFileA'
b'gdi32.dll' b'CreatePatternBrush'
b'gdi32.dll' b'DescribePixelFormat'
b'gdi32.dll' b'EngFreeModule'
b'gdi32.dll' b'EngTextOut'
b'gdi32.dll' b'EnumFontsW'
b'gdi32.dll' b'FillRgn'
b'gdi32.dll' b'GdiGetPageCount'
b'gdi32.dll' b'GetGlyphOutlineW'
b'gdi32.dll' b'GetMiterLimit'
b'gdi32.dll' b'GetOutlineTextMetricsA'
b'advapi32.dll' b'RegOpenKeyW'
b'advapi32.dll' b'SaferRecordEventLogEntry'
b'advapi32.dll' b'SaferIdentifyLevel'
b'advapi32.dll' b'SaferComputeTokenFromLevel'
b'advapi32.dll' b'SaferCloseLevel'
b'advapi32.dll' b'RevertToSelf'
b'advapi32.dll' b'RegSetValueW'
b'advapi32.dll' b'RegSetValueExW'
b'advapi32.dll' b'RegQueryValueW'
b'advapi32.dll' b'RegQueryValueExW'
b'advapi32.dll' b'CreateProcessAsUserW'
b'advapi32.dll' b'RegOpenKeyExW'
b'advapi32.dll' b'RegEnumKeyW'
b'advapi32.dll' b'RegDeleteKeyW'
b'advapi32.dll' b'RegCreateKeyExW'
b'advapi32.dll' b'RegCloseKey'
b'advapi32.dll' b'LookupAccountSidW'
b'advapi32.dll' b'ImpersonateLoggedOnUser'
b'advapi32.dll' b'GetSecurityDescriptorOwner'
b'advapi32.dll' b'GetFileSecurityW'
b'advapi32.dll' b'FreeSid'
b'shell32.dll' b'ShellExecuteExW'
b'shell32.dll' b'ShellExecuteA'
b'shell32.dll' b'ShellAboutA'
b'shell32.dll' b'SHIsFileAvailableOffline'
b'shell32.dll' b'SHGetSettings'
b'shell32.dll' b'CheckEscapesW'
b'shell32.dll' b'DragQueryFile'
b'shell32.dll' b'DragQueryFileAorW'
b'shell32.dll' b'ExtractIconExW'
b'shell32.dll' b'SHAppBarMessage'
b'shell32.dll' b'SHBrowseForFolderA'
b'shell32.dll' b'SHChangeNotify'
b'shell32.dll' b'SHCreateProcessAsUserW'
b'shell32.dll' b'SHEmptyRecycleBinA'
b'shell32.dll' b'SHFileOperationA'
b'shell32.dll' b'SHGetDataFromIDListA'
b'shell32.dll' b'SHGetDiskFreeSpaceA'
b'shell32.dll' b'SHGetMalloc'
b'shell32.dll' b'WOWShellExecute'
b'shlwapi.dll' b'StrCmpNW'
b'shlwapi.dll' b'StrStrIA'
b'shlwapi.dll' b'StrStrIW'
b'shlwapi.dll' b'StrCmpNA'
b'shlwapi.dll' b'StrChrIA'
b'comctl32.dll' b'ImageList_Create'
b'msvcrt.dll' b'_XcptFilter'
b'msvcrt.dll' b'__getmainargs'
b'msvcrt.dll' b'__initenv'
b'msvcrt.dll' b'__p__commode'
b'msvcrt.dll' b'__p__fmode'
b'msvcrt.dll' b'__set_app_type'
b'msvcrt.dll' b'__setusermatherr'
b'msvcrt.dll' b'_adjust_fdiv'
b'msvcrt.dll' b'_c_exit'
b'msvcrt.dll' b'_cexit'
b'msvcrt.dll' b'_close'
b'msvcrt.dll' b'_controlfp'
b'msvcrt.dll' b'_dup'
b'msvcrt.dll' b'_dup2'
b'msvcrt.dll' b'_errno'
b'msvcrt.dll' b'_except_handler3'
b'msvcrt.dll' b'_exit'
b'msvcrt.dll' b'_get_osfhandle'
b'msvcrt.dll' b'_getch'
b'msvcrt.dll' b'_initterm'
b'msvcrt.dll' b'_iob'
b'msvcrt.dll' b'_open_osfhandle'
b'msvcrt.dll' b'_pclose'
b'msvcrt.dll' b'_pipe'
b'msvcrt.dll' b'_seh_longjmp_unwind'
b'msvcrt.dll' b'_setjmp3'
b'msvcrt.dll' b'_setmode'
b'msvcrt.dll' b'_snwprintf'
b'msvcrt.dll' b'_tell'
b'msvcrt.dll' b'_ultoa'
b'msvcrt.dll' b'_vsnwprintf'
b'msvcrt.dll' b'_wcsicmp'
b'msvcrt.dll' b'_wcslwr'
b'msvcrt.dll' b'_wcsnicmp'
b'msvcrt.dll' b'_wcsupr'
b'msvcrt.dll' b'_wpopen'
b'msvcrt.dll' b'_wtol'
b'msvcrt.dll' b'calloc'
b'msvcrt.dll' b'exit'
b'msvcrt.dll' b'fflush'
b'msvcrt.dll' b'fgets'
b'msvcrt.dll' b'fprintf'
b'msvcrt.dll' b'free'
b'msvcrt.dll' b'iswalpha'
b'msvcrt.dll' b'iswdigit'
b'msvcrt.dll' b'iswspace'
b'msvcrt.dll' b'iswxdigit'
b'msvcrt.dll' b'longjmp'
b'msvcrt.dll' b'malloc'
b'msvcrt.dll' b'memmove'
b'msvcrt.dll' b'printf'
b'msvcrt.dll' b'qsort'
b'msvcrt.dll' b'rand'
b'msvcrt.dll' b'realloc'
b'msvcrt.dll' b'setlocale'
b'msvcrt.dll' b'srand'
b'msvcrt.dll' b'swprintf'
b'msvcrt.dll' b'swscanf'
b'msvcrt.dll' b'time'
b'msvcrt.dll' b'towlower'
b'msvcrt.dll' b'towupper'
b'msvcrt.dll' b'wcscat'
b'msvcrt.dll' b'wcschr'
b'msvcrt.dll' b'wcscmp'
b'msvcrt.dll' b'wcscpy'
b'msvcrt.dll' b'wcslen'
b'msvcrt.dll' b'wcsncmp'
b'msvcrt.dll' b'wcsncpy'
b'msvcrt.dll' b'wcsrchr'
b'msvcrt.dll' b'wcsspn'
b'msvcrt.dll' b'wcsstr'
b'msvcrt.dll' b'wcstol'
b'msvcrt.dll' b'wcstoul'
