b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'ReleaseMutex'
b'kernel32.dll' b'CloseHandle'
