b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'DeviceIoControl'
b'kernel32.dll' b'SetFileTime'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'CreateDirectoryW'
b'kernel32.dll' b'RemoveDirectoryW'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'DeleteFileW'
b'kernel32.dll' b'CreateHardLinkW'
b'kernel32.dll' b'GetShortPathNameW'
b'kernel32.dll' b'GetLongPathNameW'
b'kernel32.dll' b'MoveFileW'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'SetEndOfFile'
b'kernel32.dll' b'SetFilePointer'
b'kernel32.dll' b'SetFileAttributesW'
b'kernel32.dll' b'GetFileAttributesW'
b'kernel32.dll' b'FindClose'
b'kernel32.dll' b'FindFirstFileW'
b'kernel32.dll' b'FindNextFileW'
b'kernel32.dll' b'GetVersionExW'
b'kernel32.dll' b'GetCurrentDirectoryW'
b'kernel32.dll' b'GetFullPathNameW'
b'kernel32.dll' b'FoldStringW'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'FindResourceW'
b'kernel32.dll' b'FreeLibrary'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'SetThreadExecutionState'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'LoadLibraryW'
b'kernel32.dll' b'GetSystemDirectoryW'
b'kernel32.dll' b'CompareStringW'
b'kernel32.dll' b'AllocConsole'
b'kernel32.dll' b'FreeConsole'
b'kernel32.dll' b'AttachConsole'
b'kernel32.dll' b'WriteConsoleW'
b'kernel32.dll' b'GetProcessAffinityMask'
b'kernel32.dll' b'CreateThread'
b'kernel32.dll' b'SetThreadPriority'
b'kernel32.dll' b'InitializeCriticalSection'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'SetEvent'
b'kernel32.dll' b'ResetEvent'
b'kernel32.dll' b'ReleaseSemaphore'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'CreateEventW'
b'kernel32.dll' b'CreateSemaphoreW'
b'kernel32.dll' b'GetSystemTime'
b'kernel32.dll' b'SystemTimeToTzSpecificLocalTime'
b'kernel32.dll' b'TzSpecificLocalTimeToSystemTime'
b'kernel32.dll' b'SystemTimeToFileTime'
b'kernel32.dll' b'FileTimeToLocalFileTime'
b'kernel32.dll' b'LocalFileTimeToFileTime'
b'kernel32.dll' b'FileTimeToSystemTime'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'IsDBCSLeadByte'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'GlobalAlloc'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'SetCurrentDirectoryW'
b'kernel32.dll' b'GetExitCodeProcess'
b'kernel32.dll' b'GetLocalTime'
b'kernel32.dll' b'MapViewOfFile'
b'kernel32.dll' b'UnmapViewOfFile'
b'kernel32.dll' b'CreateFileMappingW'
b'kernel32.dll' b'OpenFileMappingW'
b'kernel32.dll' b'GetCommandLineW'
b'kernel32.dll' b'SetEnvironmentVariableW'
b'kernel32.dll' b'ExpandEnvironmentStringsW'
b'kernel32.dll' b'GetTempPathW'
b'kernel32.dll' b'MoveFileExW'
b'kernel32.dll' b'GetLocaleInfoW'
b'kernel32.dll' b'GetTimeFormatW'
b'kernel32.dll' b'GetDateFormatW'
b'kernel32.dll' b'GetNumberFormatW'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'GetSystemInfo'
b'kernel32.dll' b'VirtualProtect'
b'kernel32.dll' b'VirtualQuery'
b'kernel32.dll' b'LoadLibraryExA'
b'kernel32.dll' b'IsProcessorFeaturePresent'
b'kernel32.dll' b'IsDebuggerPresent'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'GetStartupInfoW'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'InitializeSListHead'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'EncodePointer'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsFree'
b'kernel32.dll' b'LoadLibraryExW'
b'kernel32.dll' b'QueryPerformanceFrequency'
b'kernel32.dll' b'GetModuleHandleExW'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'FindFirstFileExA'
b'kernel32.dll' b'FindNextFileA'
b'kernel32.dll' b'IsValidCodePage'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'GetCommandLineA'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'SetStdHandle'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'GetConsoleCP'
b'kernel32.dll' b'GetConsoleMode'
b'kernel32.dll' b'SetFilePointerEx'
b'kernel32.dll' b'DecodePointer'
