b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'GetCurrentThread'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'GetFileSize'
b'kernel32.dll' b'CreateFileA'
b'kernel32.dll' b'MoveFileExA'
b'kernel32.dll' b'SizeofResource'
b'kernel32.dll' b'TerminateThread'
b'kernel32.dll' b'LoadResource'
b'kernel32.dll' b'FindResourceA'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'LocalFree'
b'kernel32.dll' b'LocalAlloc'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'InitializeCriticalSection'
b'kernel32.dll' b'GlobalAlloc'
b'kernel32.dll' b'GlobalFree'
b'kernel32.dll' b'QueryPerformanceFrequency'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'LockResource'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'GetStartupInfoA'
b'kernel32.dll' b'GetModuleHandleA'
b'advapi32.dll' b'StartServiceCtrlDispatcherA'
b'advapi32.dll' b'RegisterServiceCtrlHandlerA'
b'advapi32.dll' b'ChangeServiceConfig2A'
b'advapi32.dll' b'SetServiceStatus'
b'advapi32.dll' b'OpenSCManagerA'
b'advapi32.dll' b'CreateServiceA'
b'advapi32.dll' b'CloseServiceHandle'
b'advapi32.dll' b'StartServiceA'
b'advapi32.dll' b'CryptGenRandom'
b'advapi32.dll' b'CryptAcquireContextA'
b'advapi32.dll' b'OpenServiceA'
b'ws2_32.dll' b'closesocket'
b'ws2_32.dll' b'recv'
b'ws2_32.dll' b'send'
b'ws2_32.dll' b'htonl'
b'ws2_32.dll' b'ntohl'
b'ws2_32.dll' b'WSAStartup'
b'ws2_32.dll' b'inet_ntoa'
b'ws2_32.dll' b'ioctlsocket'
b'ws2_32.dll' b'select'
b'ws2_32.dll' b'htons'
b'ws2_32.dll' b'socket'
b'ws2_32.dll' b'connect'
b'ws2_32.dll' b'inet_addr'
b'msvcp60.dll' b'??1_Lockit@std@@QAE@XZ'
b'msvcp60.dll' b'??0_Lockit@std@@QAE@XZ'
b'iphlpapi.dll' b'GetAdaptersInfo'
b'iphlpapi.dll' b'GetPerAdapterInfo'
b'wininet.dll' b'InternetOpenA'
b'wininet.dll' b'InternetOpenUrlA'
b'wininet.dll' b'InternetCloseHandle'
b'msvcrt.dll' b'__set_app_type'
b'msvcrt.dll' b'_stricmp'
b'msvcrt.dll' b'__p__fmode'
b'msvcrt.dll' b'__p__commode'
b'msvcrt.dll' b'_except_handler3'
b'msvcrt.dll' b'__setusermatherr'
b'msvcrt.dll' b'_initterm'
b'msvcrt.dll' b'__getmainargs'
b'msvcrt.dll' b'_acmdln'
b'msvcrt.dll' b'_adjust_fdiv'
b'msvcrt.dll' b'_controlfp'
b'msvcrt.dll' b'exit'
b'msvcrt.dll' b'_XcptFilter'
b'msvcrt.dll' b'_exit'
b'msvcrt.dll' b'_onexit'
b'msvcrt.dll' b'__dllonexit'
b'msvcrt.dll' b'free'
b'msvcrt.dll' b'??2@YAPAXI@Z'
b'msvcrt.dll' b'_ftol'
b'msvcrt.dll' b'sprintf'
b'msvcrt.dll' b'_endthreadex'
b'msvcrt.dll' b'strncpy'
b'msvcrt.dll' b'rand'
b'msvcrt.dll' b'_beginthreadex'
b'msvcrt.dll' b'__CxxFrameHandler'
b'msvcrt.dll' b'srand'
b'msvcrt.dll' b'time'
b'msvcrt.dll' b'__p___argc'
