b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'VirtualProtect'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'VirtualFree'
b'kernel32.dll' b'ExitProcess'
b'advapi32.dll' b'FreeSid'
b'dnsapi.dll' b'DnsQuery_A'
b'msvcrt.dll' b'_iob'
b'shell32.dll' b'ShellExecuteA'
b'user32.dll' b'wsprintfA'
b'ws2_32.dll' b'recv'
