kernel32.dll LoadLibraryA
kernel32.dll GetProcAddress
kernel32.dll VirtualProtect
kernel32.dll VirtualAlloc
kernel32.dll VirtualFree
kernel32.dll ExitProcess
advapi32.dll GetAce
comctl32.dll ImageList_Remove
comdlg32.dll GetOpenFileNameW
gdi32.dll LineTo
iphlpapi.dll IcmpSendEcho
mpr.dll WNetUseConnectionW
ole32.dll CoGetObject
oleaut32.dll VariantInit
psapi.dll GetProcessMemoryInfo
shell32.dll DragFinish
user32.dll GetDC
userenv.dll LoadUserProfileW
uxtheme.dll IsThemeActive
version.dll VerQueryValueW
wininet.dll FtpOpenFileW
winmm.dll timeGetTime
wsock32.dll connect
