b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'VirtualProtect'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'VirtualFree'
b'kernel32.dll' b'ExitProcess'
b'advapi32.dll' b'GetAce'
b'comctl32.dll' b'ImageList_Remove'
b'comdlg32.dll' b'GetOpenFileNameW'
b'gdi32.dll' b'LineTo'
b'iphlpapi.dll' b'IcmpSendEcho'
b'mpr.dll' b'WNetUseConnectionW'
b'ole32.dll' b'CoGetObject'
b'oleaut32.dll' b'VariantInit'
b'psapi.dll' b'GetProcessMemoryInfo'
b'shell32.dll' b'DragFinish'
b'user32.dll' b'GetDC'
b'userenv.dll' b'LoadUserProfileW'
b'uxtheme.dll' b'IsThemeActive'
b'version.dll' b'VerQueryValueW'
b'wininet.dll' b'FtpOpenFileW'
b'winmm.dll' b'timeGetTime'
b'wsock32.dll' b'connect'
