ntdll.dll vsprintf
ntdll.dll memmove
ntdll.dll NtYieldExecution
ntdll.dll strchr
ntdll.dll strncpy
ntdll.dll _stricmp
ntdll.dll memset
kernel32.dll GetLocalTime
kernel32.dll OutputDebugStringA
user32.dll MessageBoxA
opengl32.dll glEnd
opengl32.dll glEnable
opengl32.dll glLineWidth
opengl32.dll glPolygonMode
opengl32.dll glColor3d
opengl32.dll glBegin
opengl32.dll glDisable
opengl32.dll glClear
opengl32.dll glPointSize
opengl32.dll glLineStipple
opengl32.dll glVertex3d
