oleaut32.dll VariantClear
oleaut32.dll SysAllocString
user32.dll SendMessageA
user32.dll SetTimer
user32.dll DialogBoxParamW
user32.dll DialogBoxParamA
user32.dll SetWindowLongA
user32.dll GetWindowLongA
user32.dll SetWindowTextW
user32.dll LoadIconA
user32.dll LoadStringW
user32.dll LoadStringA
user32.dll CharUpperW
user32.dll CharUpperA
user32.dll DestroyWindow
user32.dll EndDialog
user32.dll PostMessageA
user32.dll ShowWindow
user32.dll MessageBoxW
user32.dll GetDlgItem
user32.dll KillTimer
user32.dll SetWindowTextA
shell32.dll ShellExecuteExA
kernel32.dll GetCurrentDirectoryA
kernel32.dll GetStringTypeW
kernel32.dll GetStringTypeA
kernel32.dll LCMapStringW
kernel32.dll LCMapStringA
kernel32.dll InterlockedIncrement
kernel32.dll InterlockedDecrement
kernel32.dll GetProcAddress
kernel32.dll GetOEMCP
kernel32.dll GetACP
kernel32.dll GetCPInfo
kernel32.dll IsBadCodePtr
kernel32.dll IsBadReadPtr
kernel32.dll GetFileType
kernel32.dll SetHandleCount
kernel32.dll GetEnvironmentStringsW
kernel32.dll GetEnvironmentStrings
kernel32.dll FreeEnvironmentStringsW
kernel32.dll FreeEnvironmentStringsA
kernel32.dll UnhandledExceptionFilter
kernel32.dll HeapSize
kernel32.dll GetCurrentProcess
kernel32.dll TerminateProcess
kernel32.dll IsBadWritePtr
kernel32.dll HeapCreate
kernel32.dll HeapDestroy
kernel32.dll GetEnvironmentVariableA
kernel32.dll SetUnhandledExceptionFilter
kernel32.dll TlsAlloc
kernel32.dll ExitProcess
kernel32.dll GetVersion
kernel32.dll GetCommandLineA
kernel32.dll GetStartupInfoA
kernel32.dll GetModuleHandleA
kernel32.dll WaitForSingleObject
kernel32.dll CloseHandle
kernel32.dll CreateProcessA
kernel32.dll GetCommandLineW
kernel32.dll GetVersionExA
kernel32.dll LeaveCriticalSection
kernel32.dll EnterCriticalSection
kernel32.dll DeleteCriticalSection
kernel32.dll MultiByteToWideChar
kernel32.dll WideCharToMultiByte
kernel32.dll GetLastError
kernel32.dll LoadLibraryA
kernel32.dll GetModuleFileNameW
kernel32.dll GetModuleFileNameA
kernel32.dll LocalFree
kernel32.dll FormatMessageW
kernel32.dll FormatMessageA
kernel32.dll SetFileTime
kernel32.dll CreateFileW
kernel32.dll SetLastError
kernel32.dll SetFileAttributesW
kernel32.dll SetFileAttributesA
kernel32.dll RemoveDirectoryW
kernel32.dll RemoveDirectoryA
kernel32.dll CreateDirectoryW
kernel32.dll CreateDirectoryA
kernel32.dll DeleteFileW
kernel32.dll DeleteFileA
kernel32.dll GetFullPathNameW
kernel32.dll GetFullPathNameA
kernel32.dll SetCurrentDirectoryW
kernel32.dll SetCurrentDirectoryA
kernel32.dll GetCurrentDirectoryW
kernel32.dll GetTempPathW
kernel32.dll GetTempPathA
kernel32.dll GetCurrentProcessId
kernel32.dll GetTickCount
kernel32.dll GetCurrentThreadId
kernel32.dll FindClose
kernel32.dll FindFirstFileW
kernel32.dll FindFirstFileA
kernel32.dll FindNextFileW
kernel32.dll FindNextFileA
kernel32.dll CreateFileA
kernel32.dll GetFileSize
kernel32.dll SetFilePointer
kernel32.dll ReadFile
kernel32.dll WriteFile
kernel32.dll SetEndOfFile
kernel32.dll GetStdHandle
kernel32.dll WaitForMultipleObjects
kernel32.dll Sleep
kernel32.dll VirtualAlloc
kernel32.dll VirtualFree
kernel32.dll CreateEventA
kernel32.dll SetEvent
kernel32.dll ResetEvent
kernel32.dll InitializeCriticalSection
kernel32.dll RtlUnwind
kernel32.dll RaiseException
kernel32.dll HeapAlloc
kernel32.dll HeapFree
kernel32.dll HeapReAlloc
kernel32.dll CreateThread
kernel32.dll TlsSetValue
kernel32.dll TlsGetValue
kernel32.dll ExitThread
