kernel32.dll GetFileAttributesW
kernel32.dll GetFileSizeEx
kernel32.dll CreateFileA
kernel32.dll InitializeCriticalSection
kernel32.dll DeleteCriticalSection
kernel32.dll ReadFile
kernel32.dll GetFileSize
kernel32.dll WriteFile
kernel32.dll LeaveCriticalSection
kernel32.dll EnterCriticalSection
kernel32.dll SetFileAttributesW
kernel32.dll SetCurrentDirectoryW
kernel32.dll CreateDirectoryW
kernel32.dll GetTempPathW
kernel32.dll GetWindowsDirectoryW
kernel32.dll GetFileAttributesA
kernel32.dll SizeofResource
kernel32.dll LockResource
kernel32.dll LoadResource
kernel32.dll MultiByteToWideChar
kernel32.dll Sleep
kernel32.dll OpenMutexA
kernel32.dll GetFullPathNameA
kernel32.dll CopyFileA
kernel32.dll GetModuleFileNameA
kernel32.dll VirtualAlloc
kernel32.dll VirtualFree
kernel32.dll FreeLibrary
kernel32.dll HeapAlloc
kernel32.dll GetProcessHeap
kernel32.dll GetModuleHandleA
kernel32.dll SetLastError
kernel32.dll VirtualProtect
kernel32.dll IsBadReadPtr
kernel32.dll HeapFree
kernel32.dll SystemTimeToFileTime
kernel32.dll LocalFileTimeToFileTime
kernel32.dll CreateDirectoryA
kernel32.dll GetStartupInfoA
kernel32.dll SetFilePointer
kernel32.dll SetFileTime
kernel32.dll GetComputerNameW
kernel32.dll GetCurrentDirectoryA
kernel32.dll SetCurrentDirectoryA
kernel32.dll GlobalAlloc
kernel32.dll LoadLibraryA
kernel32.dll GetProcAddress
kernel32.dll GlobalFree
kernel32.dll CreateProcessA
kernel32.dll CloseHandle
kernel32.dll WaitForSingleObject
kernel32.dll TerminateProcess
kernel32.dll GetExitCodeProcess
kernel32.dll FindResourceA
user32.dll wsprintfA
advapi32.dll CreateServiceA
advapi32.dll OpenServiceA
advapi32.dll StartServiceA
advapi32.dll CloseServiceHandle
advapi32.dll CryptReleaseContext
advapi32.dll RegCreateKeyW
advapi32.dll RegSetValueExA
advapi32.dll RegQueryValueExA
advapi32.dll RegCloseKey
advapi32.dll OpenSCManagerA
msvcrt.dll realloc
msvcrt.dll fclose
msvcrt.dll fwrite
msvcrt.dll fread
msvcrt.dll fopen
msvcrt.dll sprintf
msvcrt.dll rand
msvcrt.dll srand
msvcrt.dll strcpy
msvcrt.dll memset
msvcrt.dll strlen
msvcrt.dll wcscat
msvcrt.dll wcslen
msvcrt.dll __CxxFrameHandler
msvcrt.dll ??3@YAXPAX@Z
msvcrt.dll memcmp
msvcrt.dll _except_handler3
msvcrt.dll _local_unwind2
msvcrt.dll wcsrchr
msvcrt.dll swprintf
msvcrt.dll ??2@YAPAXI@Z
msvcrt.dll memcpy
msvcrt.dll strcmp
msvcrt.dll strrchr
msvcrt.dll __p___argv
msvcrt.dll __p___argc
msvcrt.dll _stricmp
msvcrt.dll free
msvcrt.dll malloc
msvcrt.dll ??0exception@@QAE@ABV0@@Z
msvcrt.dll ??1exception@@UAE@XZ
msvcrt.dll ??0exception@@QAE@ABQBD@Z
msvcrt.dll _CxxThrowException
msvcrt.dll calloc
msvcrt.dll strcat
msvcrt.dll _mbsstr
msvcrt.dll ??1type_info@@UAE@XZ
msvcrt.dll _exit
msvcrt.dll _XcptFilter
msvcrt.dll exit
msvcrt.dll _acmdln
msvcrt.dll __getmainargs
msvcrt.dll _initterm
msvcrt.dll __setusermatherr
msvcrt.dll _adjust_fdiv
msvcrt.dll __p__commode
msvcrt.dll __p__fmode
msvcrt.dll __set_app_type
msvcrt.dll _controlfp
