kernel32.dll CloseHandle
kernel32.dll WriteFile
kernel32.dll CreateFileA
kernel32.dll SizeofResource
kernel32.dll LockResource
kernel32.dll LoadResource
kernel32.dll FindResourceA
kernel32.dll CreateProcessA
msvcrt.dll free
msvcrt.dll _initterm
msvcrt.dll malloc
msvcrt.dll _adjust_fdiv
msvcrt.dll sprintf
