b'kernel32.dll' b'AllocConsole'
b'kernel32.dll' b'lstrcpynA'
b'kernel32.dll' b'SetEndOfFile'
b'kernel32.dll' b'WriteTapemark'
b'kernel32.dll' b'WaitNamedPipeA'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'SetEvent'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'GetConsoleCP'
b'kernel32.dll' b'SetFileShortNameW'
b'kernel32.dll' b'FreeConsole'
b'kernel32.dll' b'GetFileAttributesA'
b'kernel32.dll' b'HeapQueryInformation'
b'kernel32.dll' b'SetSystemPowerState'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'lstrlenW'
b'kernel32.dll' b'ReleaseActCtx'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetProcessHeaps'
b'kernel32.dll' b'CreateConsoleScreenBuffer'
b'kernel32.dll' b'HeapUnlock'
b'kernel32.dll' b'LocalAlloc'
b'kernel32.dll' b'GetTapeParameters'
b'kernel32.dll' b'WaitForMultipleObjects'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'HeapSetInformation'
b'kernel32.dll' b'CreateMutexA'
b'kernel32.dll' b'GetWindowsDirectoryW'
b'kernel32.dll' b'GetVersion'
b'kernel32.dll' b'GetPrivateProfileSectionW'
b'kernel32.dll' b'FindActCtxSectionStringW'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'DeleteFileA'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'SetDefaultCommConfigA'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'WriteConsoleW'
b'kernel32.dll' b'EncodePointer'
b'kernel32.dll' b'DecodePointer'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'GetCommandLineA'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'IsProcessorFeaturePresent'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsFree'
b'kernel32.dll' b'GetStartupInfoW'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'IsDebuggerPresent'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'GetModuleHandleExW'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'IsValidCodePage'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'GetConsoleMode'
b'kernel32.dll' b'SetFilePointerEx'
b'kernel32.dll' b'LoadLibraryExW'
b'kernel32.dll' b'OutputDebugStringW'
b'kernel32.dll' b'SetStdHandle'
b'user32.dll' b'SetCaretPos'
b'advapi32.dll' b'CloseEventLog'
b'winhttp.dll' b'WinHttpCloseHandle'
