b'user32.dll' b'EnableMenuItem'
b'user32.dll' b'GetDlgItem'
b'user32.dll' b'SendDlgItemMessageA'
b'user32.dll' b'AppendMenuA'
b'user32.dll' b'GetWindowLongA'
b'user32.dll' b'wvsprintfA'
b'user32.dll' b'SetWindowPos'
b'user32.dll' b'FindWindowA'
b'user32.dll' b'RedrawWindow'
b'user32.dll' b'GetWindowTextA'
b'user32.dll' b'EnableWindow'
b'user32.dll' b'GetSystemMetrics'
b'user32.dll' b'IsWindow'
b'user32.dll' b'CheckRadioButton'
b'user32.dll' b'UnregisterClassA'
b'user32.dll' b'SetCursor'
b'user32.dll' b'GetSysColorBrush'
b'user32.dll' b'DialogBoxParamA'
b'user32.dll' b'DestroyAcceleratorTable'
b'user32.dll' b'DispatchMessageA'
b'user32.dll' b'TranslateMessage'
b'user32.dll' b'LoadIconA'
b'user32.dll' b'EmptyClipboard'
b'user32.dll' b'SetClipboardData'
b'user32.dll' b'SetFocus'
b'user32.dll' b'CharUpperA'
b'user32.dll' b'OpenClipboard'
b'user32.dll' b'IsDialogMessageA'
b'user32.dll' b'TranslateAcceleratorA'
b'user32.dll' b'GetMessageA'
b'user32.dll' b'LoadAcceleratorsA'
b'user32.dll' b'RemoveMenu'
b'user32.dll' b'InvalidateRect'
b'user32.dll' b'ChildWindowFromPoint'
b'user32.dll' b'PostMessageA'
b'user32.dll' b'DestroyCursor'
b'user32.dll' b'CreateDialogParamA'
b'user32.dll' b'GetWindowRect'
b'user32.dll' b'IsMenu'
b'user32.dll' b'GetSubMenu'
b'user32.dll' b'SetDlgItemInt'
b'user32.dll' b'GetWindowPlacement'
b'user32.dll' b'CharLowerBuffA'
b'user32.dll' b'LoadCursorA'
b'user32.dll' b'CheckMenuRadioItem'
b'user32.dll' b'GetSysColor'
b'user32.dll' b'KillTimer'
b'user32.dll' b'DestroyIcon'
b'user32.dll' b'DestroyWindow'
b'user32.dll' b'PostQuitMessage'
b'user32.dll' b'GetClientRect'
b'user32.dll' b'MoveWindow'
b'user32.dll' b'GetSystemMenu'
b'user32.dll' b'SetTimer'
b'user32.dll' b'SetWindowPlacement'
b'user32.dll' b'InsertMenuItemA'
b'user32.dll' b'GetMenu'
b'user32.dll' b'CheckMenuItem'
b'user32.dll' b'SetMenuItemInfoA'
b'user32.dll' b'SetActiveWindow'
b'user32.dll' b'DefDlgProcA'
b'user32.dll' b'RegisterClassA'
b'user32.dll' b'EndDialog'
b'user32.dll' b'SetDlgItemTextA'
b'user32.dll' b'EnumClipboardFormats'
b'user32.dll' b'GetClipboardData'
b'user32.dll' b'CloseClipboard'
b'user32.dll' b'GetClassInfoA'
b'user32.dll' b'CallWindowProcA'
b'user32.dll' b'SetWindowLongA'
b'user32.dll' b'IsDlgButtonChecked'
b'user32.dll' b'SetWindowTextA'
b'user32.dll' b'CheckDlgButton'
b'user32.dll' b'GetActiveWindow'
b'user32.dll' b'MessageBoxA'
b'user32.dll' b'wsprintfA'
b'user32.dll' b'GetDlgItemTextA'
b'user32.dll' b'SendMessageA'
b'user32.dll' b'GetCursorPos'
b'user32.dll' b'TrackPopupMenu'
b'user32.dll' b'ClientToScreen'
b'user32.dll' b'DestroyMenu'
b'user32.dll' b'CreatePopupMenu'
b'comdlg32.dll' b'GetSaveFileNameA'
b'comdlg32.dll' b'GetOpenFileNameA'
b'advapi32.dll' b'RegSetValueA'
b'advapi32.dll' b'RegQueryValueExA'
b'advapi32.dll' b'OpenProcessToken'
b'advapi32.dll' b'LookupPrivilegeValueA'
b'advapi32.dll' b'AdjustTokenPrivileges'
b'advapi32.dll' b'RegOpenKeyExA'
b'advapi32.dll' b'RegCloseKey'
b'advapi32.dll' b'RegCreateKeyA'
b'advapi32.dll' b'RegDeleteKeyA'
b'advapi32.dll' b'GetUserNameA'
b'dbghelp.dll' b'ImageNtHeader'
b'dbghelp.dll' b'ImageRvaToSection'
b'dbghelp.dll' b'ImageRvaToVa'
b'comctl32.dll' b'ImageList_Destroy'
b'comctl32.dll' b'InitCommonControlsEx'
b'comctl32.dll' b'ImageList_ReplaceIcon'
b'comctl32.dll' b'ImageList_Remove'
b'comctl32.dll' b'CreateToolbarEx'
b'comctl32.dll' b'ImageList_SetBkColor'
b'comctl32.dll' b'ImageList_Create'
b'kernel32.dll' b'IsValidCodePage'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'VirtualFree'
b'kernel32.dll' b'HeapCreate'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'SetHandleCount'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'GetEnvironmentStrings'
b'kernel32.dll' b'FreeEnvironmentStringsA'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'IsDebuggerPresent'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'GetLocaleInfoA'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'TlsFree'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'GetStartupInfoA'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'GlobalCompact'
b'kernel32.dll' b'SetProcessWorkingSetSize'
b'kernel32.dll' b'EncodePointer'
b'kernel32.dll' b'OpenProcess'
b'kernel32.dll' b'GlobalUnWire'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'IsWow64Process'
b'kernel32.dll' b'GetProcessHandleCount'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'PulseEvent'
b'kernel32.dll' b'GetVersion'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'GetStringTypeA'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'GetCommandLineA'
b'kernel32.dll' b'GetProcessId'
b'kernel32.dll' b'LockResource'
b'kernel32.dll' b'GlobalDeleteAtom'
b'kernel32.dll' b'LCMapStringA'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'SetProcessPriorityBoost'
b'kernel32.dll' b'GlobalUnfix'
b'kernel32.dll' b'RequestWakeupLatency'
b'kernel32.dll' b'IsProcessInJob'
b'kernel32.dll' b'GetThreadTimes'
b'kernel32.dll' b'GetProcessTimes'
b'kernel32.dll' b'PeekNamedPipe'
