b'shlwapi.dll' b'PathAppendW'
b'kernel32.dll' b'CreateProcessW'
b'kernel32.dll' b'GetSystemTime'
b'kernel32.dll' b'lstrlenW'
b'kernel32.dll' b'LocalFree'
b'advapi32.dll' b'CheckTokenMembership'
b'advapi32.dll' b'CreateWellKnownSid'
b'ole32.dll' b'CoCreateInstance'
b'ole32.dll' b'CoSetProxyBlanket'
