b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'SetHandleCount'
b'kernel32.dll' b'IsValidCodePage'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'TlsFree'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'GetConsoleMode'
b'kernel32.dll' b'GetConsoleCP'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'HeapSetInformation'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'GetStartupInfoW'
b'kernel32.dll' b'GetCommandLineA'
b'kernel32.dll' b'EncodePointer'
b'kernel32.dll' b'IsProcessorFeaturePresent'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'SetFilePointer'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'SetStdHandle'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'GetUserDefaultLCID'
b'kernel32.dll' b'GetLocaleInfoA'
b'kernel32.dll' b'EnumSystemLocalesA'
b'kernel32.dll' b'IsValidLocale'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'OutputDebugStringA'
b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'DecodePointer'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'InitializeCriticalSection'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'WriteConsoleW'
b'kernel32.dll' b'SetEndOfFile'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'GetLocaleInfoW'
b'kernel32.dll' b'HeapCreate'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'IsDebuggerPresent'
b'kernel32.dll' b'CreateEventA'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'LoadLibraryW'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'lstrcpynA'
b'kernel32.dll' b'CreateFileA'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'GetModuleHandleA'
b'user32.dll' b'AppendMenuA'
b'user32.dll' b'ClipCursor'
b'user32.dll' b'IsDlgButtonChecked'
b'user32.dll' b'CreatePopupMenu'
b'user32.dll' b'SetMenuDefaultItem'
b'user32.dll' b'GetMenuItemInfoA'
b'user32.dll' b'GetCursorPos'
b'user32.dll' b'GetDesktopWindow'
b'user32.dll' b'GetSystemMetrics'
b'user32.dll' b'EnableWindow'
b'user32.dll' b'LoadCursorA'
b'user32.dll' b'DrawFrameControl'
b'user32.dll' b'RedrawWindow'
b'user32.dll' b'GetDlgItem'
b'user32.dll' b'ReleaseDC'
b'user32.dll' b'SetScrollPos'
b'user32.dll' b'GetWindowLongA'
b'user32.dll' b'MoveWindow'
b'user32.dll' b'ShowWindow'
b'user32.dll' b'GetMessageA'
b'user32.dll' b'RegisterClassExA'
b'user32.dll' b'PostQuitMessage'
b'user32.dll' b'TranslateMessage'
b'user32.dll' b'InvalidateRect'
b'user32.dll' b'GetWindowLongW'
b'user32.dll' b'CreateWindowExA'
b'user32.dll' b'SetWindowLongW'
b'user32.dll' b'DefWindowProcA'
b'user32.dll' b'DispatchMessageA'
b'user32.dll' b'UpdateWindow'
b'user32.dll' b'ValidateRect'
b'user32.dll' b'ClientToScreen'
b'user32.dll' b'DestroyWindow'
b'user32.dll' b'ScreenToClient'
b'user32.dll' b'GetWindowRect'
b'user32.dll' b'SetActiveWindow'
b'user32.dll' b'InsertMenuItemA'
b'user32.dll' b'SendDlgItemMessageA'
b'user32.dll' b'GetWindowDC'
b'user32.dll' b'FillRect'
b'user32.dll' b'GetKeyState'
b'user32.dll' b'GetSubMenu'
b'user32.dll' b'LoadBitmapA'
b'user32.dll' b'GetParent'
b'user32.dll' b'LoadMenuA'
b'user32.dll' b'LoadIconA'
b'user32.dll' b'GetClipCursor'
b'user32.dll' b'GetClientRect'
b'user32.dll' b'CreateMenu'
b'user32.dll' b'SetFocus'
b'user32.dll' b'SendMessageA'
b'user32.dll' b'BeginPaint'
b'user32.dll' b'PtInRect'
b'user32.dll' b'GetDC'
b'user32.dll' b'SetRect'
b'user32.dll' b'SetWindowLongA'
b'user32.dll' b'IntersectRect'
b'user32.dll' b'MessageBoxA'
b'user32.dll' b'UnionRect'
b'gdi32.dll' b'ExtTextOutA'
b'gdi32.dll' b'ExcludeClipRect'
b'gdi32.dll' b'CreateEllipticRgn'
b'gdi32.dll' b'GetTextExtentPoint32A'
b'gdi32.dll' b'SetTextColor'
b'gdi32.dll' b'DeleteDC'
b'gdi32.dll' b'GetDeviceCaps'
b'gdi32.dll' b'SetBkColor'
b'gdi32.dll' b'CreateSolidBrush'
b'gdi32.dll' b'DeleteObject'
b'gdi32.dll' b'SelectObject'
b'gdi32.dll' b'SelectClipRgn'
b'gdi32.dll' b'CreateCompatibleDC'
b'gdi32.dll' b'CreateCompatibleBitmap'
b'gdi32.dll' b'Rectangle'
b'gdi32.dll' b'CreateBrushIndirect'
b'gdi32.dll' b'StartDocA'
b'gdi32.dll' b'CreatePen'
b'gdi32.dll' b'GetTextMetricsA'
b'gdi32.dll' b'CreateICA'
b'comdlg32.dll' b'GetSaveFileNameW'
b'advapi32.dll' b'CreateRestrictedToken'
b'advapi32.dll' b'LookupPrivilegeValueA'
b'advapi32.dll' b'ImpersonateLoggedOnUser'
b'advapi32.dll' b'RevertToSelf'
b'advapi32.dll' b'AdjustTokenPrivileges'
b'advapi32.dll' b'LogonUserA'
b'advapi32.dll' b'OpenProcessToken'
b'shell32.dll' b'SHCreateShellItem'
b'ole32.dll' b'CoCreateInstance'
b'ole32.dll' b'CoUninitialize'
b'ole32.dll' b'CoInitialize'
b'wininet.dll' b'GopherOpenFileA'
b'netapi32.dll' b'Netbios'
b'msvfw32.dll' b'ICCompressorChoose'
b'msimg32.dll' b'GradientFill'
b'winmm.dll' b'mmioAscend'
b'version.dll' b'GetFileVersionInfoW'
b'shlwapi.dll' b'PathFindNextComponentW'
b'shlwapi.dll' b'StrToIntExA'
b'comctl32.dll' b'ImageList_DrawEx'
b'comctl32.dll' b'PropertySheetA'
b'comctl32.dll' b'ImageList_LoadImageA'
b'comctl32.dll' b'ImageList_GetIconSize'
b'comctl32.dll' b'ImageList_GetImageInfo'
b'comctl32.dll' b'CreatePropertySheetPageA'
b'pdh.dll' b'PdhMakeCounterPathA'
b'pdh.dll' b'PdhBrowseCountersA'
b'pdh.dll' b'PdhGetDllVersion'
b'glu32.dll' b'gluGetString'
b'glu32.dll' b'gluNewNurbsRenderer'
b'imm32.dll' b'ImmSetCompositionFontA'
b'uxtheme.dll' b'OpenThemeData'
b'uxtheme.dll' b'SetWindowTheme'
b'uxtheme.dll' b'CloseThemeData'
b'dwrite.dll' b'DWriteCreateFactory'
