b'advapi32.dll' b'GetSecurityDescriptorDacl'
b'advapi32.dll' b'RegisterEventSourceA'
b'advapi32.dll' b'RegQueryInfoKeyA'
b'advapi32.dll' b'GetSidSubAuthorityCount'
b'advapi32.dll' b'RegSetValueExA'
b'advapi32.dll' b'RegDeleteKeyA'
b'advapi32.dll' b'GetKernelObjectSecurity'
b'advapi32.dll' b'RegCloseKey'
b'advapi32.dll' b'RegQueryValueA'
b'advapi32.dll' b'RegLoadKeyA'
b'advapi32.dll' b'GetSidSubAuthority'
b'advapi32.dll' b'RegConnectRegistryA'
b'advapi32.dll' b'LookupPrivilegeValueA'
b'advapi32.dll' b'InitiateSystemShutdownA'
b'advapi32.dll' b'CreateProcessAsUserA'
b'advapi32.dll' b'GetSidIdentifierAuthority'
b'advapi32.dll' b'OpenThreadToken'
b'advapi32.dll' b'LsaQueryInformationPolicy'
b'advapi32.dll' b'RegQueryValueW'
b'advapi32.dll' b'EncryptFileW'
b'advapi32.dll' b'RegSetValueW'
b'advapi32.dll' b'MakeAbsoluteSD'
b'advapi32.dll' b'RegOpenKeyExA'
b'advapi32.dll' b'RegCreateKeyExW'
b'advapi32.dll' b'AddAce'
b'advapi32.dll' b'SetNamedSecurityInfoW'
b'advapi32.dll' b'OpenEventLogW'
b'advapi32.dll' b'GetUserNameW'
b'advapi32.dll' b'SetSecurityDescriptorSacl'
b'advapi32.dll' b'MakeSelfRelativeSD'
b'advapi32.dll' b'RegFlushKey'
b'advapi32.dll' b'InitializeSecurityDescriptor'
b'advapi32.dll' b'InitializeAcl'
b'advapi32.dll' b'SetEntriesInAclA'
b'advapi32.dll' b'GetSidLengthRequired'
b'advapi32.dll' b'RegSetValueA'
b'advapi32.dll' b'SetEntriesInAclW'
b'advapi32.dll' b'GetAclInformation'
b'user32.dll' b'DrawIconEx'
b'user32.dll' b'IsDialogMessageA'
b'user32.dll' b'OffsetRect'
b'user32.dll' b'PostThreadMessageW'
b'user32.dll' b'DialogBoxParamA'
b'user32.dll' b'GetLastActivePopup'
b'user32.dll' b'GetGUIThreadInfo'
b'user32.dll' b'DrawStateA'
b'user32.dll' b'IsWindow'
b'user32.dll' b'OpenClipboard'
b'user32.dll' b'InSendMessage'
b'user32.dll' b'FindWindowW'
b'user32.dll' b'IsMenu'
b'user32.dll' b'EnumDisplaySettingsA'
b'user32.dll' b'DrawAnimatedRects'
b'user32.dll' b'FrameRect'
b'user32.dll' b'SetMenuDefaultItem'
b'user32.dll' b'GrayStringW'
b'user32.dll' b'CreateDialogIndirectParamW'
b'user32.dll' b'ClientToScreen'
b'user32.dll' b'GetParent'
b'user32.dll' b'TranslateMDISysAccel'
b'user32.dll' b'CreateDesktopW'
b'user32.dll' b'ShowCaret'
b'user32.dll' b'GetProcessWindowStation'
b'user32.dll' b'TrackPopupMenu'
b'user32.dll' b'IntersectRect'
b'user32.dll' b'DialogBoxIndirectParamA'
b'user32.dll' b'DefWindowProcA'
b'user32.dll' b'ReuseDDElParam'
b'user32.dll' b'NotifyWinEvent'
b'user32.dll' b'SetClipboardData'
b'user32.dll' b'CloseClipboard'
b'user32.dll' b'DdeDisconnect'
b'user32.dll' b'GetClassNameA'
b'user32.dll' b'GetCaretPos'
b'user32.dll' b'CharLowerW'
b'user32.dll' b'GetWindowModuleFileNameA'
b'user32.dll' b'IsWindowVisible'
b'user32.dll' b'wvsprintfA'
b'user32.dll' b'ModifyMenuA'
b'user32.dll' b'SendDlgItemMessageW'
b'user32.dll' b'SetCaretBlinkTime'
b'user32.dll' b'LoadMenuW'
b'user32.dll' b'GetMenuState'
b'user32.dll' b'DrawTextExA'
b'user32.dll' b'ChangeDisplaySettingsW'
b'user32.dll' b'CreateWindowExW'
b'user32.dll' b'GetCapture'
b'user32.dll' b'CreatePopupMenu'
b'user32.dll' b'SetMenu'
b'user32.dll' b'CharUpperBuffW'
b'user32.dll' b'DrawStateW'
b'user32.dll' b'LoadImageA'
b'user32.dll' b'GetScrollPos'
b'user32.dll' b'GetDlgItem'
b'user32.dll' b'GetClipboardFormatNameW'
b'user32.dll' b'ValidateRgn'
b'user32.dll' b'GetWindowThreadProcessId'
b'user32.dll' b'GetClassInfoExW'
b'user32.dll' b'DdeAccessData'
b'user32.dll' b'ShowWindow'
b'user32.dll' b'GetKeyboardLayout'
b'user32.dll' b'GetClassInfoW'
b'user32.dll' b'SetCaretPos'
b'user32.dll' b'LoadCursorA'
b'user32.dll' b'FillRect'
b'user32.dll' b'LoadMenuA'
b'user32.dll' b'mouse_event'
b'user32.dll' b'ModifyMenuW'
b'user32.dll' b'InvalidateRgn'
b'user32.dll' b'GetMenuItemID'
b'user32.dll' b'IsIconic'
b'user32.dll' b'OemToCharA'
b'user32.dll' b'LoadCursorFromFileW'
b'user32.dll' b'RegisterWindowMessageA'
b'user32.dll' b'DispatchMessageW'
b'user32.dll' b'GetCursorPos'
b'user32.dll' b'CharPrevA'
b'user32.dll' b'GetWindowWord'
b'imm32.dll' b'ImmGetProperty'
b'imm32.dll' b'ImmGetCandidateListCountA'
b'imm32.dll' b'ImmGetCompositionStringA'
b'imm32.dll' b'ImmSetConversionStatus'
b'imm32.dll' b'ImmSetOpenStatus'
b'imm32.dll' b'ImmCreateContext'
b'imm32.dll' b'ImmGetOpenStatus'
b'imm32.dll' b'ImmNotifyIME'
b'imm32.dll' b'ImmInstallIMEA'
b'imm32.dll' b'ImmGetContext'
b'imm32.dll' b'ImmDestroyContext'
b'imm32.dll' b'ImmSimulateHotKey'
b'imm32.dll' b'ImmConfigureIMEA'
b'imm32.dll' b'ImmAssociateContext'
b'rasapi32.dll' b'RasDialA'
b'rasapi32.dll' b'RasGetProjectionInfoA'
b'kernel32.dll' b'WriteFileGather'
b'kernel32.dll' b'PulseEvent'
b'kernel32.dll' b'GetLongPathNameA'
