b'ntdll.dll' b'vsprintf'
b'ntdll.dll' b'memmove'
b'ntdll.dll' b'NtYieldExecution'
b'ntdll.dll' b'strchr'
b'ntdll.dll' b'strncpy'
b'ntdll.dll' b'_stricmp'
b'ntdll.dll' b'memset'
b'kernel32.dll' b'GetLocalTime'
b'kernel32.dll' b'OutputDebugStringA'
b'user32.dll' b'MessageBoxA'
b'opengl32.dll' b'glEnd'
b'opengl32.dll' b'glEnable'
b'opengl32.dll' b'glLineWidth'
b'opengl32.dll' b'glPolygonMode'
b'opengl32.dll' b'glColor3d'
b'opengl32.dll' b'glBegin'
b'opengl32.dll' b'glDisable'
b'opengl32.dll' b'glClear'
b'opengl32.dll' b'glPointSize'
b'opengl32.dll' b'glLineStipple'
b'opengl32.dll' b'glVertex3d'
