b'oleaut32.dll' b'VariantClear'
b'oleaut32.dll' b'SysAllocString'
b'user32.dll' b'SendMessageA'
b'user32.dll' b'SetTimer'
b'user32.dll' b'DialogBoxParamW'
b'user32.dll' b'DialogBoxParamA'
b'user32.dll' b'SetWindowLongA'
b'user32.dll' b'GetWindowLongA'
b'user32.dll' b'SetWindowTextW'
b'user32.dll' b'LoadIconA'
b'user32.dll' b'LoadStringW'
b'user32.dll' b'LoadStringA'
b'user32.dll' b'CharUpperW'
b'user32.dll' b'CharUpperA'
b'user32.dll' b'DestroyWindow'
b'user32.dll' b'EndDialog'
b'user32.dll' b'PostMessageA'
b'user32.dll' b'ShowWindow'
b'user32.dll' b'MessageBoxW'
b'user32.dll' b'GetDlgItem'
b'user32.dll' b'KillTimer'
b'user32.dll' b'SetWindowTextA'
b'shell32.dll' b'ShellExecuteExA'
b'kernel32.dll' b'GetCurrentDirectoryA'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'GetStringTypeA'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'LCMapStringA'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'IsBadCodePtr'
b'kernel32.dll' b'IsBadReadPtr'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'SetHandleCount'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'GetEnvironmentStrings'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'FreeEnvironmentStringsA'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'IsBadWritePtr'
b'kernel32.dll' b'HeapCreate'
b'kernel32.dll' b'HeapDestroy'
b'kernel32.dll' b'GetEnvironmentVariableA'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'GetVersion'
b'kernel32.dll' b'GetCommandLineA'
b'kernel32.dll' b'GetStartupInfoA'
b'kernel32.dll' b'GetModuleHandleA'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'CreateProcessA'
b'kernel32.dll' b'GetCommandLineW'
b'kernel32.dll' b'GetVersionExA'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'GetModuleFileNameA'
b'kernel32.dll' b'LocalFree'
b'kernel32.dll' b'FormatMessageW'
b'kernel32.dll' b'FormatMessageA'
b'kernel32.dll' b'SetFileTime'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'SetFileAttributesW'
b'kernel32.dll' b'SetFileAttributesA'
b'kernel32.dll' b'RemoveDirectoryW'
b'kernel32.dll' b'RemoveDirectoryA'
b'kernel32.dll' b'CreateDirectoryW'
b'kernel32.dll' b'CreateDirectoryA'
b'kernel32.dll' b'DeleteFileW'
b'kernel32.dll' b'DeleteFileA'
b'kernel32.dll' b'GetFullPathNameW'
b'kernel32.dll' b'GetFullPathNameA'
b'kernel32.dll' b'SetCurrentDirectoryW'
b'kernel32.dll' b'SetCurrentDirectoryA'
b'kernel32.dll' b'GetCurrentDirectoryW'
b'kernel32.dll' b'GetTempPathW'
b'kernel32.dll' b'GetTempPathA'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'FindClose'
b'kernel32.dll' b'FindFirstFileW'
b'kernel32.dll' b'FindFirstFileA'
b'kernel32.dll' b'FindNextFileW'
b'kernel32.dll' b'FindNextFileA'
b'kernel32.dll' b'CreateFileA'
b'kernel32.dll' b'GetFileSize'
b'kernel32.dll' b'SetFilePointer'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'SetEndOfFile'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'WaitForMultipleObjects'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'VirtualFree'
b'kernel32.dll' b'CreateEventA'
b'kernel32.dll' b'SetEvent'
b'kernel32.dll' b'ResetEvent'
b'kernel32.dll' b'InitializeCriticalSection'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'CreateThread'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'ExitThread'
