b'kernel32.dll' b'HeapAlloc'
b'kernel32.dll' b'Sleep'
b'kernel32.dll' b'GetCurrentThreadId'
b'kernel32.dll' b'RaiseException'
b'kernel32.dll' b'MulDiv'
b'kernel32.dll' b'GetVersionExW'
b'kernel32.dll' b'GetSystemInfo'
b'kernel32.dll' b'InterlockedIncrement'
b'kernel32.dll' b'InterlockedDecrement'
b'kernel32.dll' b'WideCharToMultiByte'
b'kernel32.dll' b'lstrcpyW'
b'kernel32.dll' b'MultiByteToWideChar'
b'kernel32.dll' b'lstrlenW'
b'kernel32.dll' b'lstrcmpiW'
b'kernel32.dll' b'GetModuleHandleW'
b'kernel32.dll' b'QueryPerformanceCounter'
b'kernel32.dll' b'VirtualFreeEx'
b'kernel32.dll' b'OpenProcess'
b'kernel32.dll' b'VirtualAllocEx'
b'kernel32.dll' b'WriteProcessMemory'
b'kernel32.dll' b'ReadProcessMemory'
b'kernel32.dll' b'CreateFileW'
b'kernel32.dll' b'SetFilePointerEx'
b'kernel32.dll' b'ReadFile'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'FlushFileBuffers'
b'kernel32.dll' b'TerminateProcess'
b'kernel32.dll' b'CreateToolhelp32Snapshot'
b'kernel32.dll' b'Process32FirstW'
b'kernel32.dll' b'Process32NextW'
b'kernel32.dll' b'SetFileTime'
b'kernel32.dll' b'GetFileAttributesW'
b'kernel32.dll' b'FindFirstFileW'
b'kernel32.dll' b'FindClose'
b'kernel32.dll' b'DeleteFileW'
b'kernel32.dll' b'FindNextFileW'
b'kernel32.dll' b'MoveFileW'
b'kernel32.dll' b'CopyFileW'
b'kernel32.dll' b'CreateDirectoryW'
b'kernel32.dll' b'RemoveDirectoryW'
b'kernel32.dll' b'GetProcessHeap'
b'kernel32.dll' b'QueryPerformanceFrequency'
b'kernel32.dll' b'FindResourceW'
b'kernel32.dll' b'LoadResource'
b'kernel32.dll' b'LockResource'
b'kernel32.dll' b'SizeofResource'
b'kernel32.dll' b'EnumResourceNamesW'
b'kernel32.dll' b'OutputDebugStringW'
b'kernel32.dll' b'GetLocalTime'
b'kernel32.dll' b'CompareStringW'
b'kernel32.dll' b'DeleteCriticalSection'
b'kernel32.dll' b'EnterCriticalSection'
b'kernel32.dll' b'LeaveCriticalSection'
b'kernel32.dll' b'InitializeCriticalSectionAndSpinCount'
b'kernel32.dll' b'GetStdHandle'
b'kernel32.dll' b'CreatePipe'
b'kernel32.dll' b'InterlockedExchange'
b'kernel32.dll' b'TerminateThread'
b'kernel32.dll' b'GetTempPathW'
b'kernel32.dll' b'GetTempFileNameW'
b'kernel32.dll' b'VirtualFree'
b'kernel32.dll' b'FormatMessageW'
b'kernel32.dll' b'GetExitCodeProcess'
b'kernel32.dll' b'SetErrorMode'
b'kernel32.dll' b'GetPrivateProfileStringW'
b'kernel32.dll' b'WritePrivateProfileStringW'
b'kernel32.dll' b'GetPrivateProfileSectionW'
b'kernel32.dll' b'WritePrivateProfileSectionW'
b'kernel32.dll' b'GetPrivateProfileSectionNamesW'
b'kernel32.dll' b'FileTimeToLocalFileTime'
b'kernel32.dll' b'FileTimeToSystemTime'
b'kernel32.dll' b'SystemTimeToFileTime'
b'kernel32.dll' b'LocalFileTimeToFileTime'
b'kernel32.dll' b'GetDriveTypeW'
b'kernel32.dll' b'GetDiskFreeSpaceExW'
b'kernel32.dll' b'GetDiskFreeSpaceW'
b'kernel32.dll' b'GetVolumeInformationW'
b'kernel32.dll' b'SetVolumeLabelW'
b'kernel32.dll' b'CreateHardLinkW'
b'kernel32.dll' b'DeviceIoControl'
b'kernel32.dll' b'SetFileAttributesW'
b'kernel32.dll' b'GetShortPathNameW'
b'kernel32.dll' b'CreateEventW'
b'kernel32.dll' b'SetEvent'
b'kernel32.dll' b'GetEnvironmentVariableW'
b'kernel32.dll' b'SetEnvironmentVariableW'
b'kernel32.dll' b'GlobalLock'
b'kernel32.dll' b'GlobalUnlock'
b'kernel32.dll' b'GlobalAlloc'
b'kernel32.dll' b'GetFileSize'
b'kernel32.dll' b'GlobalFree'
b'kernel32.dll' b'GlobalMemoryStatusEx'
b'kernel32.dll' b'Beep'
b'kernel32.dll' b'GetSystemDirectoryW'
b'kernel32.dll' b'GetComputerNameW'
b'kernel32.dll' b'GetWindowsDirectoryW'
b'kernel32.dll' b'GetCurrentProcessId'
b'kernel32.dll' b'GetCurrentThread'
b'kernel32.dll' b'GetProcessIoCounters'
b'kernel32.dll' b'CreateProcessW'
b'kernel32.dll' b'SetPriorityClass'
b'kernel32.dll' b'LoadLibraryW'
b'kernel32.dll' b'VirtualAlloc'
b'kernel32.dll' b'LoadLibraryExW'
b'kernel32.dll' b'HeapFree'
b'kernel32.dll' b'WaitForSingleObject'
b'kernel32.dll' b'CreateThread'
b'kernel32.dll' b'DuplicateHandle'
b'kernel32.dll' b'GetLastError'
b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'GetCurrentProcess'
b'kernel32.dll' b'GetProcAddress'
b'kernel32.dll' b'LoadLibraryA'
b'kernel32.dll' b'FreeLibrary'
b'kernel32.dll' b'GetModuleFileNameW'
b'kernel32.dll' b'GetFullPathNameW'
b'kernel32.dll' b'SetCurrentDirectoryW'
b'kernel32.dll' b'IsDebuggerPresent'
b'kernel32.dll' b'GetCurrentDirectoryW'
b'kernel32.dll' b'ExitProcess'
b'kernel32.dll' b'ExitThread'
b'kernel32.dll' b'GetSystemTimeAsFileTime'
b'kernel32.dll' b'ResumeThread'
b'kernel32.dll' b'GetTimeFormatW'
b'kernel32.dll' b'GetDateFormatW'
b'kernel32.dll' b'GetCommandLineW'
b'kernel32.dll' b'GetStartupInfoW'
b'kernel32.dll' b'IsProcessorFeaturePresent'
b'kernel32.dll' b'HeapSize'
b'kernel32.dll' b'GetCPInfo'
b'kernel32.dll' b'GetACP'
b'kernel32.dll' b'GetOEMCP'
b'kernel32.dll' b'IsValidCodePage'
b'kernel32.dll' b'TlsAlloc'
b'kernel32.dll' b'TlsGetValue'
b'kernel32.dll' b'TlsSetValue'
b'kernel32.dll' b'TlsFree'
b'kernel32.dll' b'SetLastError'
b'kernel32.dll' b'UnhandledExceptionFilter'
b'kernel32.dll' b'SetUnhandledExceptionFilter'
b'kernel32.dll' b'GetStringTypeW'
b'kernel32.dll' b'HeapCreate'
b'kernel32.dll' b'SetHandleCount'
b'kernel32.dll' b'GetFileType'
b'kernel32.dll' b'SetStdHandle'
b'kernel32.dll' b'GetConsoleCP'
b'kernel32.dll' b'GetConsoleMode'
b'kernel32.dll' b'LCMapStringW'
b'kernel32.dll' b'RtlUnwind'
b'kernel32.dll' b'SetFilePointer'
b'kernel32.dll' b'GetTimeZoneInformation'
b'kernel32.dll' b'FreeEnvironmentStringsW'
b'kernel32.dll' b'GetEnvironmentStringsW'
b'kernel32.dll' b'GetTickCount'
b'kernel32.dll' b'HeapReAlloc'
b'kernel32.dll' b'WriteConsoleW'
b'kernel32.dll' b'SetEndOfFile'
b'kernel32.dll' b'SetSystemPowerState'
b'kernel32.dll' b'SetEnvironmentVariableA'
b'advapi32.dll' b'RegEnumValueW'
b'advapi32.dll' b'RegDeleteValueW'
b'advapi32.dll' b'RegDeleteKeyW'
b'advapi32.dll' b'RegEnumKeyExW'
b'advapi32.dll' b'RegSetValueExW'
b'advapi32.dll' b'RegCreateKeyExW'
b'advapi32.dll' b'GetUserNameW'
b'advapi32.dll' b'RegConnectRegistryW'
b'advapi32.dll' b'CloseServiceHandle'
b'advapi32.dll' b'UnlockServiceDatabase'
b'advapi32.dll' b'OpenThreadToken'
b'advapi32.dll' b'OpenProcessToken'
b'advapi32.dll' b'LookupPrivilegeValueW'
b'advapi32.dll' b'DuplicateTokenEx'
b'advapi32.dll' b'CreateProcessAsUserW'
b'advapi32.dll' b'CreateProcessWithLogonW'
b'advapi32.dll' b'InitializeSecurityDescriptor'
b'advapi32.dll' b'InitializeAcl'
b'advapi32.dll' b'GetLengthSid'
b'advapi32.dll' b'CopySid'
b'advapi32.dll' b'LogonUserW'
b'advapi32.dll' b'LockServiceDatabase'
b'advapi32.dll' b'GetTokenInformation'
b'advapi32.dll' b'GetSecurityDescriptorDacl'
b'advapi32.dll' b'GetAclInformation'
b'advapi32.dll' b'GetAce'
b'advapi32.dll' b'AddAce'
b'advapi32.dll' b'SetSecurityDescriptorDacl'
b'advapi32.dll' b'RegOpenKeyExW'
b'advapi32.dll' b'RegQueryValueExW'
b'advapi32.dll' b'AdjustTokenPrivileges'
b'advapi32.dll' b'InitiateSystemShutdownExW'
b'advapi32.dll' b'OpenSCManagerW'
b'advapi32.dll' b'RegCloseKey'
b'comctl32.dll' b'ImageList_Remove'
b'comctl32.dll' b'ImageList_SetDragCursorImage'
b'comctl32.dll' b'ImageList_BeginDrag'
b'comctl32.dll' b'ImageList_DragEnter'
b'comctl32.dll' b'ImageList_DragLeave'
b'comctl32.dll' b'ImageList_EndDrag'
b'comctl32.dll' b'ImageList_DragMove'
b'comctl32.dll' b'ImageList_ReplaceIcon'
b'comctl32.dll' b'ImageList_Create'
b'comctl32.dll' b'InitCommonControlsEx'
b'comctl32.dll' b'ImageList_Destroy'
b'comdlg32.dll' b'GetSaveFileNameW'
b'comdlg32.dll' b'GetOpenFileNameW'
b'gdi32.dll' b'DeleteObject'
b'gdi32.dll' b'AngleArc'
b'gdi32.dll' b'GetTextExtentPoint32W'
b'gdi32.dll' b'ExtCreatePen'
b'gdi32.dll' b'StrokeAndFillPath'
b'gdi32.dll' b'StrokePath'
b'gdi32.dll' b'EndPath'
b'gdi32.dll' b'SetPixel'
b'gdi32.dll' b'CloseFigure'
b'gdi32.dll' b'CreateCompatibleBitmap'
b'gdi32.dll' b'CreateCompatibleDC'
b'gdi32.dll' b'SelectObject'
b'gdi32.dll' b'StretchBlt'
b'gdi32.dll' b'GetDIBits'
b'gdi32.dll' b'GetDeviceCaps'
b'gdi32.dll' b'MoveToEx'
b'gdi32.dll' b'DeleteDC'
b'gdi32.dll' b'GetPixel'
b'gdi32.dll' b'CreateDCW'
b'gdi32.dll' b'Ellipse'
b'gdi32.dll' b'PolyDraw'
b'gdi32.dll' b'BeginPath'
b'gdi32.dll' b'Rectangle'
b'gdi32.dll' b'SetViewportOrgEx'
b'gdi32.dll' b'GetObjectW'
b'gdi32.dll' b'SetBkMode'
b'gdi32.dll' b'RoundRect'
b'gdi32.dll' b'SetBkColor'
b'gdi32.dll' b'CreatePen'
b'gdi32.dll' b'CreateSolidBrush'
b'gdi32.dll' b'SetTextColor'
b'gdi32.dll' b'CreateFontW'
b'gdi32.dll' b'GetTextFaceW'
b'gdi32.dll' b'GetStockObject'
b'gdi32.dll' b'LineTo'
b'mpr.dll' b'WNetCancelConnection2W'
b'mpr.dll' b'WNetGetConnectionW'
b'mpr.dll' b'WNetAddConnection2W'
b'mpr.dll' b'WNetUseConnectionW'
b'ole32.dll' b'OleSetMenuDescriptor'
b'ole32.dll' b'MkParseDisplayName'
b'ole32.dll' b'OleSetContainedObject'
b'ole32.dll' b'CLSIDFromString'
b'ole32.dll' b'StringFromGUID2'
b'ole32.dll' b'CoInitialize'
b'ole32.dll' b'CoUninitialize'
b'ole32.dll' b'CoCreateInstance'
b'ole32.dll' b'CreateStreamOnHGlobal'
b'ole32.dll' b'CoTaskMemAlloc'
b'ole32.dll' b'CoTaskMemFree'
b'ole32.dll' b'ProgIDFromCLSID'
b'ole32.dll' b'OleInitialize'
b'ole32.dll' b'CreateBindCtx'
b'ole32.dll' b'CLSIDFromProgID'
b'ole32.dll' b'CoInitializeSecurity'
b'ole32.dll' b'CoCreateInstanceEx'
b'ole32.dll' b'CoSetProxyBlanket'
b'ole32.dll' b'OleUninitialize'
b'ole32.dll' b'IIDFromString'
b'oleaut32.dll' b'VariantChangeType'
b'oleaut32.dll' b'VariantCopyInd'
b'oleaut32.dll' b'DispCallFunc'
b'oleaut32.dll' b'CreateStdDispatch'
b'oleaut32.dll' b'CreateDispTypeInfo'
b'oleaut32.dll' b'SysFreeString'
b'oleaut32.dll' b'SafeArrayDestroyDescriptor'
b'oleaut32.dll' b'SafeArrayDestroyData'
b'oleaut32.dll' b'SafeArrayUnaccessData'
b'oleaut32.dll' b'SysStringLen'
b'oleaut32.dll' b'SafeArrayAllocData'
b'oleaut32.dll' b'GetActiveObject'
b'oleaut32.dll' b'QueryPathOfRegTypeLib'
b'oleaut32.dll' b'SafeArrayAllocDescriptorEx'
b'oleaut32.dll' b'SafeArrayCreateVector'
b'oleaut32.dll' b'SysAllocString'
b'oleaut32.dll' b'VariantCopy'
b'oleaut32.dll' b'VariantClear'
b'oleaut32.dll' b'VariantTimeToSystemTime'
b'oleaut32.dll' b'VarR8FromDec'
b'oleaut32.dll' b'SafeArrayGetVartype'
b'oleaut32.dll' b'OleLoadPicture'
b'oleaut32.dll' b'SafeArrayAccessData'
b'oleaut32.dll' b'VariantInit'
b'psapi.dll' b'EnumProcesses'
b'psapi.dll' b'GetModuleBaseNameW'
b'psapi.dll' b'GetProcessMemoryInfo'
b'psapi.dll' b'EnumProcessModules'
b'shell32.dll' b'DragQueryPoint'
b'shell32.dll' b'ShellExecuteExW'
b'shell32.dll' b'SHGetFolderPathW'
b'shell32.dll' b'DragQueryFileW'
b'shell32.dll' b'SHEmptyRecycleBinW'
b'shell32.dll' b'SHBrowseForFolderW'
b'shell32.dll' b'SHFileOperationW'
b'shell32.dll' b'SHGetPathFromIDListW'
b'shell32.dll' b'SHGetDesktopFolder'
b'shell32.dll' b'SHGetMalloc'
b'shell32.dll' b'ExtractIconExW'
b'shell32.dll' b'Shell_NotifyIconW'
b'shell32.dll' b'ShellExecuteW'
b'shell32.dll' b'DragFinish'
b'user32.dll' b'GetCursorInfo'
b'user32.dll' b'RegisterHotKey'
b'user32.dll' b'ClientToScreen'
b'user32.dll' b'GetKeyboardLayoutNameW'
b'user32.dll' b'IsCharAlphaW'
b'user32.dll' b'IsCharAlphaNumericW'
b'user32.dll' b'IsCharLowerW'
b'user32.dll' b'IsCharUpperW'
b'user32.dll' b'GetMenuStringW'
b'user32.dll' b'GetSubMenu'
b'user32.dll' b'GetCaretPos'
b'user32.dll' b'IsZoomed'
b'user32.dll' b'MonitorFromPoint'
b'user32.dll' b'GetMonitorInfoW'
b'user32.dll' b'SetWindowLongW'
b'user32.dll' b'SetLayeredWindowAttributes'
b'user32.dll' b'FlashWindow'
b'user32.dll' b'GetClassLongW'
b'user32.dll' b'TranslateAcceleratorW'
b'user32.dll' b'IsDialogMessageW'
b'user32.dll' b'GetSysColor'
b'user32.dll' b'InflateRect'
b'user32.dll' b'DrawFocusRect'
b'user32.dll' b'DrawTextW'
b'user32.dll' b'FrameRect'
b'user32.dll' b'DrawFrameControl'
b'user32.dll' b'FillRect'
b'user32.dll' b'PtInRect'
b'user32.dll' b'DestroyAcceleratorTable'
b'user32.dll' b'CreateAcceleratorTableW'
b'user32.dll' b'SetCursor'
b'user32.dll' b'GetWindowDC'
b'user32.dll' b'GetSystemMetrics'
b'user32.dll' b'GetActiveWindow'
b'user32.dll' b'CharNextW'
b'user32.dll' b'wsprintfW'
b'user32.dll' b'RedrawWindow'
b'user32.dll' b'DrawMenuBar'
b'user32.dll' b'DestroyMenu'
b'user32.dll' b'SetMenu'
b'user32.dll' b'GetWindowTextLengthW'
b'user32.dll' b'CreateMenu'
b'user32.dll' b'IsDlgButtonChecked'
b'user32.dll' b'DefDlgProcW'
b'user32.dll' b'ReleaseCapture'
b'user32.dll' b'SetCapture'
b'user32.dll' b'WindowFromPoint'
b'user32.dll' b'LoadImageW'
b'user32.dll' b'CreateIconFromResourceEx'
b'user32.dll' b'mouse_event'
b'user32.dll' b'ExitWindowsEx'
b'user32.dll' b'SetActiveWindow'
b'user32.dll' b'FindWindowExW'
b'user32.dll' b'EnumThreadWindows'
b'user32.dll' b'SetMenuDefaultItem'
b'user32.dll' b'InsertMenuItemW'
b'user32.dll' b'IsMenu'
b'user32.dll' b'TrackPopupMenuEx'
b'user32.dll' b'GetCursorPos'
b'user32.dll' b'DeleteMenu'
b'user32.dll' b'CheckMenuRadioItem'
b'user32.dll' b'SetWindowPos'
b'user32.dll' b'GetMenuItemCount'
b'user32.dll' b'SetMenuItemInfoW'
b'user32.dll' b'GetMenuItemInfoW'
b'user32.dll' b'SetForegroundWindow'
b'user32.dll' b'IsIconic'
b'user32.dll' b'FindWindowW'
b'user32.dll' b'SystemParametersInfoW'
b'user32.dll' b'TranslateMessage'
b'user32.dll' b'SendInput'
b'user32.dll' b'GetAsyncKeyState'
b'user32.dll' b'SetKeyboardState'
b'user32.dll' b'GetKeyboardState'
b'user32.dll' b'GetKeyState'
b'user32.dll' b'VkKeyScanW'
b'user32.dll' b'LoadStringW'
b'user32.dll' b'DialogBoxParamW'
b'user32.dll' b'MessageBeep'
b'user32.dll' b'EndDialog'
b'user32.dll' b'SendDlgItemMessageW'
b'user32.dll' b'GetDlgItem'
b'user32.dll' b'SetWindowTextW'
b'user32.dll' b'CopyRect'
b'user32.dll' b'ReleaseDC'
b'user32.dll' b'GetDC'
b'user32.dll' b'EndPaint'
b'user32.dll' b'BeginPaint'
b'user32.dll' b'GetClientRect'
b'user32.dll' b'GetMenu'
b'user32.dll' b'DestroyWindow'
b'user32.dll' b'EnumWindows'
b'user32.dll' b'GetDesktopWindow'
b'user32.dll' b'IsWindow'
b'user32.dll' b'IsWindowEnabled'
b'user32.dll' b'IsWindowVisible'
b'user32.dll' b'EnableWindow'
b'user32.dll' b'InvalidateRect'
b'user32.dll' b'GetWindowLongW'
b'user32.dll' b'AttachThreadInput'
b'user32.dll' b'GetFocus'
b'user32.dll' b'GetWindowTextW'
b'user32.dll' b'ScreenToClient'
b'user32.dll' b'SendMessageTimeoutW'
b'user32.dll' b'EnumChildWindows'
b'user32.dll' b'CharUpperBuffW'
b'user32.dll' b'GetClassNameW'
b'user32.dll' b'GetParent'
b'user32.dll' b'GetDlgCtrlID'
b'user32.dll' b'SendMessageW'
b'user32.dll' b'MapVirtualKeyW'
b'user32.dll' b'PostMessageW'
b'user32.dll' b'GetWindowRect'
b'user32.dll' b'SetUserObjectSecurity'
b'user32.dll' b'GetUserObjectSecurity'
b'user32.dll' b'CloseDesktop'
b'user32.dll' b'CloseWindowStation'
b'user32.dll' b'OpenDesktopW'
b'user32.dll' b'SetProcessWindowStation'
b'user32.dll' b'GetProcessWindowStation'
b'user32.dll' b'OpenWindowStationW'
b'user32.dll' b'MessageBoxW'
b'user32.dll' b'DefWindowProcW'
b'user32.dll' b'CopyImage'
b'user32.dll' b'AdjustWindowRectEx'
b'user32.dll' b'SetRect'
b'user32.dll' b'SetClipboardData'
b'user32.dll' b'EmptyClipboard'
b'user32.dll' b'CountClipboardFormats'
b'user32.dll' b'CloseClipboard'
b'user32.dll' b'GetClipboardData'
b'user32.dll' b'IsClipboardFormatAvailable'
b'user32.dll' b'OpenClipboard'
b'user32.dll' b'BlockInput'
b'user32.dll' b'GetMessageW'
b'user32.dll' b'LockWindowUpdate'
b'user32.dll' b'GetMenuItemID'
b'user32.dll' b'DispatchMessageW'
b'user32.dll' b'MoveWindow'
b'user32.dll' b'SetFocus'
b'user32.dll' b'PostQuitMessage'
b'user32.dll' b'KillTimer'
b'user32.dll' b'CreatePopupMenu'
b'user32.dll' b'RegisterWindowMessageW'
b'user32.dll' b'SetTimer'
b'user32.dll' b'ShowWindow'
b'user32.dll' b'CreateWindowExW'
b'user32.dll' b'RegisterClassExW'
b'user32.dll' b'LoadIconW'
b'user32.dll' b'LoadCursorW'
b'user32.dll' b'GetSysColorBrush'
b'user32.dll' b'GetForegroundWindow'
b'user32.dll' b'MessageBoxA'
b'user32.dll' b'DestroyIcon'
b'user32.dll' b'PeekMessageW'
b'user32.dll' b'UnregisterHotKey'
b'user32.dll' b'CharLowerBuffW'
b'user32.dll' b'keybd_event'
b'user32.dll' b'MonitorFromRect'
b'user32.dll' b'GetWindowThreadProcessId'
b'userenv.dll' b'CreateEnvironmentBlock'
b'userenv.dll' b'DestroyEnvironmentBlock'
b'userenv.dll' b'UnloadUserProfile'
b'userenv.dll' b'LoadUserProfileW'
b'version.dll' b'VerQueryValueW'
b'version.dll' b'GetFileVersionInfoW'
b'version.dll' b'GetFileVersionInfoSizeW'
b'wininet.dll' b'InternetReadFile'
b'wininet.dll' b'InternetCloseHandle'
b'wininet.dll' b'InternetOpenW'
b'wininet.dll' b'InternetSetOptionW'
b'wininet.dll' b'InternetCrackUrlW'
b'wininet.dll' b'HttpQueryInfoW'
b'wininet.dll' b'InternetConnectW'
b'wininet.dll' b'HttpOpenRequestW'
b'wininet.dll' b'HttpSendRequestW'
b'wininet.dll' b'FtpOpenFileW'
b'wininet.dll' b'FtpGetFileSize'
b'wininet.dll' b'InternetOpenUrlW'
b'wininet.dll' b'InternetQueryOptionW'
b'wininet.dll' b'InternetQueryDataAvailable'
b'winmm.dll' b'timeGetTime'
b'winmm.dll' b'waveOutSetVolume'
b'winmm.dll' b'mciSendStringW'
b'wsock32.dll' b'__WSAFDIsSet'
b'wsock32.dll' b'setsockopt'
b'wsock32.dll' b'ntohs'
b'wsock32.dll' b'recvfrom'
b'wsock32.dll' b'sendto'
b'wsock32.dll' b'htons'
b'wsock32.dll' b'select'
b'wsock32.dll' b'listen'
b'wsock32.dll' b'WSAStartup'
b'wsock32.dll' b'bind'
b'wsock32.dll' b'closesocket'
b'wsock32.dll' b'connect'
b'wsock32.dll' b'socket'
b'wsock32.dll' b'send'
b'wsock32.dll' b'WSACleanup'
b'wsock32.dll' b'ioctlsocket'
b'wsock32.dll' b'accept'
b'wsock32.dll' b'WSAGetLastError'
b'wsock32.dll' b'inet_addr'
b'wsock32.dll' b'gethostbyname'
b'wsock32.dll' b'gethostname'
b'wsock32.dll' b'recv'
