b'kernel32.dll' b'CloseHandle'
b'kernel32.dll' b'WriteFile'
b'kernel32.dll' b'CreateFileA'
b'kernel32.dll' b'SizeofResource'
b'kernel32.dll' b'LockResource'
b'kernel32.dll' b'LoadResource'
b'kernel32.dll' b'FindResourceA'
b'kernel32.dll' b'CreateProcessA'
b'msvcrt.dll' b'free'
b'msvcrt.dll' b'_initterm'
b'msvcrt.dll' b'malloc'
b'msvcrt.dll' b'_adjust_fdiv'
b'msvcrt.dll' b'sprintf'
